PREM/save/PREM/PL_Prem/PL_PremMdl_cpo/Service References/svcCreerDemReeva/ServCreerDemReeva.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://PLE1_CreerDemReeva_svc/1" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServCreerDemReeva" targetNamespace="http://PLE1_CreerDemReeva_svc/1" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="EndPointService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <http:NegotiateAuthentication xmlns:http="http://schemas.microsoft.com/ws/06/2004/policy/http" />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://PLE1_CreerDemReeva_svc/1/Imports">
      <xsd:import schemaLocation="http://nlb-unit-app4/PREAPP/PL/PLE_GererReevaProf/PLE1_CreerDemReeva_svc/ServCreerDemReeva.svc?xsd=xsd0" namespace="http://PLE1_CreerDemReeva_svc/1" />
      <xsd:import schemaLocation="http://nlb-unit-app4/PREAPP/PL/PLE_GererReevaProf/PLE1_CreerDemReeva_svc/ServCreerDemReeva.svc?xsd=xsd3" namespace="http://COD1_V4OutilBase_cpo/2" />
      <xsd:import schemaLocation="http://nlb-unit-app4/PREAPP/PL/PLE_GererReevaProf/PLE1_CreerDemReeva_svc/ServCreerDemReeva.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://nlb-unit-app4/PREAPP/PL/PLE_GererReevaProf/PLE1_CreerDemReeva_svc/ServCreerDemReeva.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/RAMQ.PRE.PRE_Entites_cpo.DemandeReevaluation.Parametre" />
      <xsd:import schemaLocation="http://nlb-unit-app4/PREAPP/PL/PLE_GererReevaProf/PLE1_CreerDemReeva_svc/ServCreerDemReeva.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/RAMQ.PRE.PRE_Entites_cpo.DemandeReevaluation.Entite" />
      <xsd:import schemaLocation="http://nlb-unit-app4/PREAPP/PL/PLE_GererReevaProf/PLE1_CreerDemReeva_svc/ServCreerDemReeva.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/RAMQ.PRE.PLE1_CreerDemReeva_cpo.Parametres" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServCreerDemReeva_SaisirDemandeReevaluation_InputMessage">
    <wsdl:part name="parameters" element="tns:SaisirDemandeReevaluation" />
  </wsdl:message>
  <wsdl:message name="IServCreerDemReeva_SaisirDemandeReevaluation_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaisirDemandeReevaluationResponse" />
  </wsdl:message>
  <wsdl:message name="IServCreerDemReeva_SaisirDemandeReevaluation_ExceptionRamqFault_FaultMessage">
    <wsdl:part xmlns:q1="http://COD1_V4OutilBase_cpo/2" name="detail" element="q1:ExceptionRamq" />
  </wsdl:message>
  <wsdl:message name="IServCreerDemReeva_ObtenirDemandeReevaluation_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenirDemandeReevaluation" />
  </wsdl:message>
  <wsdl:message name="IServCreerDemReeva_ObtenirDemandeReevaluation_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenirDemandeReevaluationResponse" />
  </wsdl:message>
  <wsdl:message name="IServCreerDemReeva_ObtenirDemandeReevaluation_ExceptionRamqFault_FaultMessage">
    <wsdl:part xmlns:q2="http://COD1_V4OutilBase_cpo/2" name="detail" element="q2:ExceptionRamq" />
  </wsdl:message>
  <wsdl:message name="IServCreerDemReeva_AnnulerDemandeReevaluation_InputMessage">
    <wsdl:part name="parameters" element="tns:AnnulerDemandeReevaluation" />
  </wsdl:message>
  <wsdl:message name="IServCreerDemReeva_AnnulerDemandeReevaluation_OutputMessage">
    <wsdl:part name="parameters" element="tns:AnnulerDemandeReevaluationResponse" />
  </wsdl:message>
  <wsdl:message name="IServCreerDemReeva_AnnulerDemandeReevaluation_ExceptionRamqFault_FaultMessage">
    <wsdl:part xmlns:q3="http://COD1_V4OutilBase_cpo/2" name="detail" element="q3:ExceptionRamq" />
  </wsdl:message>
  <wsdl:message name="IServCreerDemReeva_ValiderProfessionnel_InputMessage">
    <wsdl:part name="parameters" element="tns:ValiderProfessionnel" />
  </wsdl:message>
  <wsdl:message name="IServCreerDemReeva_ValiderProfessionnel_OutputMessage">
    <wsdl:part name="parameters" element="tns:ValiderProfessionnelResponse" />
  </wsdl:message>
  <wsdl:message name="IServCreerDemReeva_ValiderProfessionnel_ExceptionRamqFault_FaultMessage">
    <wsdl:part xmlns:q4="http://COD1_V4OutilBase_cpo/2" name="detail" element="q4:ExceptionRamq" />
  </wsdl:message>
  <wsdl:portType msc:usingSession="false" name="IServCreerDemReeva">
    <wsdl:operation name="SaisirDemandeReevaluation">
      <wsdl:input wsaw:Action="http://PLE1_CreerDemReeva_svc/1/IServCreerDemReeva/SaisirDemandeReevaluation" message="tns:IServCreerDemReeva_SaisirDemandeReevaluation_InputMessage" />
      <wsdl:output wsaw:Action="http://PLE1_CreerDemReeva_svc/1/IServCreerDemReeva/SaisirDemandeReevaluationResponse" message="tns:IServCreerDemReeva_SaisirDemandeReevaluation_OutputMessage" />
      <wsdl:fault wsaw:Action="http://PLE1_CreerDemReeva_svc/1/IServCreerDemReeva/SaisirDemandeReevaluationExceptionRamqFault" name="ExceptionRamqFault" message="tns:IServCreerDemReeva_SaisirDemandeReevaluation_ExceptionRamqFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenirDemandeReevaluation">
      <wsdl:input wsaw:Action="http://PLE1_CreerDemReeva_svc/1/IServCreerDemReeva/ObtenirDemandeReevaluation" message="tns:IServCreerDemReeva_ObtenirDemandeReevaluation_InputMessage" />
      <wsdl:output wsaw:Action="http://PLE1_CreerDemReeva_svc/1/IServCreerDemReeva/ObtenirDemandeReevaluationResponse" message="tns:IServCreerDemReeva_ObtenirDemandeReevaluation_OutputMessage" />
      <wsdl:fault wsaw:Action="http://PLE1_CreerDemReeva_svc/1/IServCreerDemReeva/ObtenirDemandeReevaluationExceptionRamqFault" name="ExceptionRamqFault" message="tns:IServCreerDemReeva_ObtenirDemandeReevaluation_ExceptionRamqFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="AnnulerDemandeReevaluation">
      <wsdl:input wsaw:Action="http://PLE1_CreerDemReeva_svc/1/IServCreerDemReeva/AnnulerDemandeReevaluation" message="tns:IServCreerDemReeva_AnnulerDemandeReevaluation_InputMessage" />
      <wsdl:output wsaw:Action="http://PLE1_CreerDemReeva_svc/1/IServCreerDemReeva/AnnulerDemandeReevaluationResponse" message="tns:IServCreerDemReeva_AnnulerDemandeReevaluation_OutputMessage" />
      <wsdl:fault wsaw:Action="http://PLE1_CreerDemReeva_svc/1/IServCreerDemReeva/AnnulerDemandeReevaluationExceptionRamqFault" name="ExceptionRamqFault" message="tns:IServCreerDemReeva_AnnulerDemandeReevaluation_ExceptionRamqFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ValiderProfessionnel">
      <wsdl:input wsaw:Action="http://PLE1_CreerDemReeva_svc/1/IServCreerDemReeva/ValiderProfessionnel" message="tns:IServCreerDemReeva_ValiderProfessionnel_InputMessage" />
      <wsdl:output wsaw:Action="http://PLE1_CreerDemReeva_svc/1/IServCreerDemReeva/ValiderProfessionnelResponse" message="tns:IServCreerDemReeva_ValiderProfessionnel_OutputMessage" />
      <wsdl:fault wsaw:Action="http://PLE1_CreerDemReeva_svc/1/IServCreerDemReeva/ValiderProfessionnelExceptionRamqFault" name="ExceptionRamqFault" message="tns:IServCreerDemReeva_ValiderProfessionnel_ExceptionRamqFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="EndPointService" type="tns:IServCreerDemReeva">
    <wsp:PolicyReference URI="#EndPointService_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SaisirDemandeReevaluation">
      <soap:operation soapAction="http://PLE1_CreerDemReeva_svc/1/IServCreerDemReeva/SaisirDemandeReevaluation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ExceptionRamqFault">
        <soap:fault use="literal" name="ExceptionRamqFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ObtenirDemandeReevaluation">
      <soap:operation soapAction="http://PLE1_CreerDemReeva_svc/1/IServCreerDemReeva/ObtenirDemandeReevaluation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ExceptionRamqFault">
        <soap:fault use="literal" name="ExceptionRamqFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="AnnulerDemandeReevaluation">
      <soap:operation soapAction="http://PLE1_CreerDemReeva_svc/1/IServCreerDemReeva/AnnulerDemandeReevaluation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ExceptionRamqFault">
        <soap:fault use="literal" name="ExceptionRamqFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ValiderProfessionnel">
      <soap:operation soapAction="http://PLE1_CreerDemReeva_svc/1/IServCreerDemReeva/ValiderProfessionnel" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ExceptionRamqFault">
        <soap:fault use="literal" name="ExceptionRamqFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServCreerDemReeva">
    <wsdl:port name="EndPointService" binding="tns:EndPointService">
      <soap:address location="http://nlb-unit-app4/PREAPP/PL/PLE_GererReevaProf/PLE1_CreerDemReeva_svc/ServCreerDemReeva.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>