PREM/save/PREM/PL_Prem/PL_PremMdl_cpo/Service References/svcCreerDemReeva/ServCreerDemReeva5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/RAMQ.PRE.PLE1_CreerDemReeva_cpo.Parametres" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/RAMQ.PRE.PLE1_CreerDemReeva_cpo.Parametres" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://nlb-unit-app4/PREAPP/PL/PLE_GererReevaProf/PLE1_CreerDemReeva_svc/ServCreerDemReeva.svc?xsd=xsd3" namespace="http://COD1_V4OutilBase_cpo/2" />
  <xs:complexType name="ValiderProfessionnelEntre">
    <xs:sequence>
      <xs:element minOccurs="0" name="DateDeces" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DatePremiereSpecialite" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="NumeroClasseDispensateur" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="NumeroDispensateur" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ValiderProfessionnelEntre" nillable="true" type="tns:ValiderProfessionnelEntre" />
  <xs:complexType name="ValiderProfessionnelSorti">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://COD1_V4OutilBase_cpo/2" base="q1:ParamSorti">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ValiderProfessionnelSorti" nillable="true" type="tns:ValiderProfessionnelSorti" />
</xs:schema>