PREM/save/PREM/PLF1_TraiterEveneAutreSys/PLF1_TraiterEveneAutreSys_cpo/Service References/svcCreerDemReeva/ServCreerDemReeva2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://PLE1_CreerDemReeva_svc/1" elementFormDefault="qualified" targetNamespace="http://PLE1_CreerDemReeva_svc/1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://nlb-unit-app4/PREAPP/PL/PLE_GererReevaProf/PLE1_CreerDemReeva_svc/ServCreerDemReeva.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/RAMQ.PRE.PRE_Entites_cpo.DemandeReevaluation.Parametre" />
  <xs:element name="SaisirDemandeReevaluation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/RAMQ.PRE.PRE_Entites_cpo.DemandeReevaluation.Parametre" minOccurs="0" name="intrant" nillable="true" type="q1:SaisirDemandeReevaluationEntre" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaisirDemandeReevaluationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/RAMQ.PRE.PRE_Entites_cpo.DemandeReevaluation.Parametre" minOccurs="0" name="SaisirDemandeReevaluationResult" nillable="true" type="q2:SaisirDemandeReevaluationSorti" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenirDemandeReevaluation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/RAMQ.PRE.PRE_Entites_cpo.DemandeReevaluation.Parametre" minOccurs="0" name="intrant" nillable="true" type="q3:ObtenirDemandeReevaluationEntre" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenirDemandeReevaluationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/RAMQ.PRE.PRE_Entites_cpo.DemandeReevaluation.Parametre" minOccurs="0" name="ObtenirDemandeReevaluationResult" nillable="true" type="q4:ObtenirDemandeReevaluationSorti" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AnnulerDemandeReevaluation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/RAMQ.PRE.PRE_Entites_cpo.DemandeReevaluation.Parametre" minOccurs="0" name="intrant" nillable="true" type="q5:AnnulerDemandeReevaluationEntre" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AnnulerDemandeReevaluationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/RAMQ.PRE.PRE_Entites_cpo.DemandeReevaluation.Parametre" minOccurs="0" name="AnnulerDemandeReevaluationResult" nillable="true" type="q6:AnnulerDemandeReevaluationSorti" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>