PREM/save/PREM/PLF1_TraiterEveneAutreSys/PLF1_TraiterEveneAutreSys_cpo/Service References/svcCreerDemReeva/ServCreerDemReeva4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/RAMQ.PRE.PRE_Entites_cpo.DemandeReevaluation.Parametre" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/RAMQ.PRE.PRE_Entites_cpo.DemandeReevaluation.Parametre" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://nlb-unit-app4/PREAPP/PL/PLE_GererReevaProf/PLE1_CreerDemReeva_svc/ServCreerDemReeva.svc?xsd=xsd3" namespace="http://COD1_V4OutilBase_cpo/2" />
  <xs:import schemaLocation="http://nlb-unit-app4/PREAPP/PL/PLE_GererReevaProf/PLE1_CreerDemReeva_svc/ServCreerDemReeva.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/RAMQ.PRE.PRE_Entites_cpo.DemandeReevaluation.Entite" />
  <xs:complexType name="SaisirDemandeReevaluationEntre">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodeCategorieReeva" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CodeSource" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="DateDebutReeva" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateFinReeva" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IdentifiantOcc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroSequentielDispensateur" nillable="true" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SaisirDemandeReevaluationEntre" nillable="true" type="tns:SaisirDemandeReevaluationEntre" />
  <xs:complexType name="SaisirDemandeReevaluationSorti">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://COD1_V4OutilBase_cpo/2" base="q1:ParamSorti">
        <xs:sequence>
          <xs:element minOccurs="0" name="DateDebutReelle" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="DateFinReelle" nillable="true" type="xs:dateTime" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SaisirDemandeReevaluationSorti" nillable="true" type="tns:SaisirDemandeReevaluationSorti" />
  <xs:complexType name="ObtenirDemandeReevaluationEntre">
    <xs:sequence>
      <xs:element minOccurs="0" name="CategorieDemande" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="CodeSourceDemande" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="DateDebutRech" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateFinRech" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IndicateurActive" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroSequentielDemande" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="NumeroSequentielDispensateur" nillable="true" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ObtenirDemandeReevaluationEntre" nillable="true" type="tns:ObtenirDemandeReevaluationEntre" />
  <xs:complexType name="ObtenirDemandeReevaluationSorti">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://COD1_V4OutilBase_cpo/2" base="q2:ParamSorti">
        <xs:sequence>
          <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/RAMQ.PRE.PRE_Entites_cpo.DemandeReevaluation.Entite" minOccurs="0" name="ListeDemandeReevaluation" nillable="true" type="q3:ArrayOfDemandeReevaluation" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ObtenirDemandeReevaluationSorti" nillable="true" type="tns:ObtenirDemandeReevaluationSorti" />
  <xs:complexType name="AnnulerDemandeReevaluationEntre">
    <xs:sequence>
      <xs:element minOccurs="0" name="IdentifiantInact" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroSequentielDemande" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AnnulerDemandeReevaluationEntre" nillable="true" type="tns:AnnulerDemandeReevaluationEntre" />
  <xs:complexType name="AnnulerDemandeReevaluationSorti">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q4="http://COD1_V4OutilBase_cpo/2" base="q4:ParamSorti">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AnnulerDemandeReevaluationSorti" nillable="true" type="tns:AnnulerDemandeReevaluationSorti" />
</xs:schema>