PREM/save/PREM/PL_Prem/PL_PremMdl_cpo/Service References/svcCnsulProfiPremqProf/ServCnsulProfiPremqProf7.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/RAMQ.PRE.PRE_Entites_cpo.EngagementPratique.Parametre" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/RAMQ.PRE.PRE_Entites_cpo.EngagementPratique.Parametre" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://nlb-unit-app4.ramq.gov/PREAPP/PL/PLC_EffectuerSuiviPremq/PLC2_CnsulProfiPremqProf_svc/ServCnsulProfiPremqProf.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/RAMQ.PRE.PRE_Entites_cpo.EngagementPratique.Entite" />
  <xs:import schemaLocation="http://nlb-unit-app4.ramq.gov/PREAPP/PL/PLC_EffectuerSuiviPremq/PLC2_CnsulProfiPremqProf_svc/ServCnsulProfiPremqProf.svc?xsd=xsd3" namespace="http://COD1_V4OutilBase_cpo/2" />
  <xs:complexType name="ObtenirEngagementPratiqueEntre">
    <xs:sequence>
      <xs:element minOccurs="0" name="EstDRMG" type="xs:boolean" />
      <xs:element minOccurs="0" name="NumeroSequenceDispensateur" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ObtenirEngagementPratiqueEntre" nillable="true" type="tns:ObtenirEngagementPratiqueEntre" />
  <xs:complexType name="ObtenirEngagementPratiqueSorti">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://COD1_V4OutilBase_cpo/2" base="q1:ParamSorti">
        <xs:sequence>
          <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/RAMQ.PRE.PRE_Entites_cpo.EngagementPratique.Entite" minOccurs="0" name="EngagementPratiques" nillable="true" type="q2:ArrayOfEngagementPratique" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ObtenirEngagementPratiqueSorti" nillable="true" type="tns:ObtenirEngagementPratiqueSorti" />
</xs:schema>