PREM/save/PREM/PL_Prem/PL_PremMdl_cpo/Service References/svcCnsulProfiPremqProf/ServCnsulProfiPremqProf14.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/RAMQ.PRE.PLC2_CnsulProfiPremqProf_cpo.Entites" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/RAMQ.PRE.PLC2_CnsulProfiPremqProf_cpo.Entites" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfReductionRemuneration">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ReductionRemuneration" nillable="true" type="tns:ReductionRemuneration" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfReductionRemuneration" nillable="true" type="tns:ArrayOfReductionRemuneration" />
  <xs:complexType name="ReductionRemuneration">
    <xs:sequence>
      <xs:element minOccurs="0" name="DateDebut" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateFin" type="xs:dateTime" />
      <xs:element minOccurs="0" name="EstExemption" type="xs:boolean" />
      <xs:element minOccurs="0" name="NumeroSequentielReduction" type="xs:long" />
      <xs:element minOccurs="0" name="RaisonExemption" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RaisonReduction" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TypeReduction" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReductionRemuneration" nillable="true" type="tns:ReductionRemuneration" />
</xs:schema>