PREM/save/PREM/PL_Prem/PL_PremMdl_cpo/Service References/svcCnsulProfiPremqProf/ServCnsulProfiPremqProf1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/RAMQ.PRE.PRE_Entites_cpo.EngagementPratique.Entite" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/RAMQ.PRE.PRE_Entites_cpo.EngagementPratique.Entite" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfEngagementPratique">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EngagementPratique" nillable="true" type="tns:EngagementPratique" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEngagementPratique" nillable="true" type="tns:ArrayOfEngagementPratique" />
  <xs:complexType name="EngagementPratique">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodeRegion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Historiques" nillable="true" type="tns:ArrayOfHistorique" />
      <xs:element minOccurs="0" name="NumeroSequence" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="Periode" nillable="true" type="tns:Periode" />
      <xs:element minOccurs="0" name="Territoire" nillable="true" type="tns:InformationTerritoire" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EngagementPratique" nillable="true" type="tns:EngagementPratique" />
  <xs:complexType name="ArrayOfHistorique">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Historique" nillable="true" type="tns:Historique" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfHistorique" nillable="true" type="tns:ArrayOfHistorique" />
  <xs:complexType name="Historique">
    <xs:sequence>
      <xs:element minOccurs="0" name="EstNonRespectEntente" type="xs:boolean" />
      <xs:element minOccurs="0" name="NombreJourEngagement" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Periode" nillable="true" type="tns:Periode" />
      <xs:element minOccurs="0" name="PourcentageEffectuer" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="RaisonStatut" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Statut" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TotalJourFacturer" nillable="true" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Historique" nillable="true" type="tns:Historique" />
  <xs:complexType name="Periode">
    <xs:sequence>
      <xs:element minOccurs="0" name="DateDebut" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateFin" nillable="true" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Periode" nillable="true" type="tns:Periode" />
  <xs:complexType name="InformationTerritoire">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodeLieuGeographique" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nom" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroSequentielRegroupement" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InformationTerritoire" nillable="true" type="tns:InformationTerritoire" />
</xs:schema>