PREM/save/PREM/PL_Prem/PL_PremMdl_cpo/Service References/svcCnsulProfiPremqProf/ServCnsulProfiPremqProf2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/RAMQ.PRE.PRE_Entites_cpo.PeriodePratique.Parametre" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/RAMQ.PRE.PRE_Entites_cpo.PeriodePratique.Parametre" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://nlb-unit-app4.ramq.gov/PREAPP/PL/PLC_EffectuerSuiviPremq/PLC2_CnsulProfiPremqProf_svc/ServCnsulProfiPremqProf.svc?xsd=xsd3" namespace="http://COD1_V4OutilBase_cpo/2" />
  <xs:complexType name="ObtenirPeriodePratiqueProfessionnelEntre">
    <xs:sequence>
      <xs:element minOccurs="0" name="NumeroSequenceDispensateur" type="xs:long" />
      <xs:element minOccurs="0" name="NumeroTypePratique" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ObtenirPeriodePratiqueProfessionnelEntre" nillable="true" type="tns:ObtenirPeriodePratiqueProfessionnelEntre" />
  <xs:complexType name="ObtenirPeriodePratiqueProfessionnelSorti">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://COD1_V4OutilBase_cpo/2" base="q1:ParamSorti">
        <xs:sequence>
          <xs:element minOccurs="0" name="DateDerniereFacturation" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="DatePremiereFacturation" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="NumeroSequencePratique" type="xs:long" />
          <xs:element minOccurs="0" name="NumeroTypePratique" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ObtenirPeriodePratiqueProfessionnelSorti" nillable="true" type="tns:ObtenirPeriodePratiqueProfessionnelSorti" />
</xs:schema>