PREM/save/PREM/PL_Prem/PL_PremMdl_cpo/Service References/svcCnsulProfiPremqProf/ServCnsulProfiPremqProf12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/RAMQ.PRE.PRE_Entites_cpo.Professionnel.Entite" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/RAMQ.PRE.PRE_Entites_cpo.Professionnel.Entite" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfAdmissibiliteFacturer">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AdmissibiliteFacturer" nillable="true" type="tns:AdmissibiliteFacturer" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAdmissibiliteFacturer" nillable="true" type="tns:ArrayOfAdmissibiliteFacturer" />
  <xs:complexType name="AdmissibiliteFacturer">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodeRaisonNonAdmissibilite" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DateDebutAdmissibilite" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateFinAdmissibilite" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="StatutAdmissibilite" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AdmissibiliteFacturer" nillable="true" type="tns:AdmissibiliteFacturer" />
  <xs:complexType name="ArrayOfEngagementPeriode">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EngagementPeriode" nillable="true" type="tns:EngagementPeriode" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEngagementPeriode" nillable="true" type="tns:ArrayOfEngagementPeriode" />
  <xs:complexType name="EngagementPeriode">
    <xs:sequence>
      <xs:element minOccurs="0" name="DateDebutEngagement" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateFinEngagement" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="NumeroSequenceDisp" type="xs:long" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EngagementPeriode" nillable="true" type="tns:EngagementPeriode" />
</xs:schema>