PREM/save/PREM/PL_Prem/PL_PremMdl_cpo/Service References/svcCnsulProfiPremqProf/ServCnsulProfiPremqProf.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/RAMQ.PRE.PRE_Entites_cpo.Pratique.Parametre" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/RAMQ.PRE.PRE_Entites_cpo.Pratique.Parametre" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://nlb-unit-app4.ramq.gov/PREAPP/PL/PLC_EffectuerSuiviPremq/PLC2_CnsulProfiPremqProf_svc/ServCnsulProfiPremqProf.svc?xsd=xsd12" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://nlb-unit-app4.ramq.gov/PREAPP/PL/PLC_EffectuerSuiviPremq/PLC2_CnsulProfiPremqProf_svc/ServCnsulProfiPremqProf.svc?xsd=xsd13" namespace="http://schemas.datacontract.org/2004/07/RAMQ.PRE.PRE_Entites_cpo.Pratique.Entite" />
  <xs:import schemaLocation="http://nlb-unit-app4.ramq.gov/PREAPP/PL/PLC_EffectuerSuiviPremq/PLC2_CnsulProfiPremqProf_svc/ServCnsulProfiPremqProf.svc?xsd=xsd3" namespace="http://COD1_V4OutilBase_cpo/2" />
  <xs:complexType name="CalculerNbrJrFactProfsEntre">
    <xs:sequence>
      <xs:element minOccurs="0" name="DateDebut" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateFin" nillable="true" type="xs:dateTime" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="NumerosSequentielsProfs" nillable="true" type="q1:ArrayOflong" />
      <xs:element minOccurs="0" name="ObtenirListeInter" type="xs:boolean" />
      <xs:element minOccurs="0" name="ObtenirListeIntra" type="xs:boolean" />
      <xs:element minOccurs="0" name="ObtenirListeRPPR" type="xs:boolean" />
      <xs:element minOccurs="0" name="ObtenirListeRespectEngag" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CalculerNbrJrFactProfsEntre" nillable="true" type="tns:CalculerNbrJrFactProfsEntre" />
  <xs:complexType name="CalculerNbrJrFactProfsSorti">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://COD1_V4OutilBase_cpo/2" base="q2:ParamSorti">
        <xs:sequence>
          <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/RAMQ.PRE.PRE_Entites_cpo.Pratique.Entite" minOccurs="0" name="JourneesFactAvis" nillable="true" type="q3:ArrayOfJoursFactAvis" />
          <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/RAMQ.PRE.PRE_Entites_cpo.Pratique.Entite" minOccurs="0" name="JourneesFactRSS" nillable="true" type="q4:ArrayOfJoursFactRSS" />
          <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/RAMQ.PRE.PRE_Entites_cpo.Pratique.Entite" minOccurs="0" name="JourneesFactTerritoire" nillable="true" type="q5:ArrayOfJoursFactTerritoire" />
          <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/RAMQ.PRE.PRE_Entites_cpo.Pratique.Entite" minOccurs="0" name="JourneesRPPR" nillable="true" type="q6:CalculRPPR" />
          <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/RAMQ.PRE.PRE_Entites_cpo.Pratique.Entite" minOccurs="0" name="Messages" nillable="true" type="q7:ArrayOfMessage" />
          <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/RAMQ.PRE.PRE_Entites_cpo.Pratique.Entite" minOccurs="0" name="RespectsEngagementProfs" nillable="true" type="q8:ArrayOfRespectEngagementProfs" />
          <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/RAMQ.PRE.PRE_Entites_cpo.Pratique.Entite" minOccurs="0" name="SommairesProfs" nillable="true" type="q9:ArrayOfSommaireProf" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CalculerNbrJrFactProfsSorti" nillable="true" type="tns:CalculerNbrJrFactProfsSorti" />
</xs:schema>