PREM/save/PREM/PL_Prem/PL_PremMdl_cpo/Service References/svcCnsulProfiPremqProf/ServCnsulProfiPremqProf9.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/RAMQ.PRE.PLC2_CnsulProfiPremqProf_cpo.Parametres" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/RAMQ.PRE.PLC2_CnsulProfiPremqProf_cpo.Parametres" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://nlb-unit-app4.ramq.gov/PREAPP/PL/PLC_EffectuerSuiviPremq/PLC2_CnsulProfiPremqProf_svc/ServCnsulProfiPremqProf.svc?xsd=xsd3" namespace="http://COD1_V4OutilBase_cpo/2" />
  <xs:import schemaLocation="http://nlb-unit-app4.ramq.gov/PREAPP/PL/PLC_EffectuerSuiviPremq/PLC2_CnsulProfiPremqProf_svc/ServCnsulProfiPremqProf.svc?xsd=xsd14" namespace="http://schemas.datacontract.org/2004/07/RAMQ.PRE.PLC2_CnsulProfiPremqProf_cpo.Entites" />
  <xs:complexType name="ValiderProfessionnelEntre">
    <xs:sequence>
      <xs:element minOccurs="0" name="DateDeces" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DatePremiereSpecialite" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="NumeroClasseDispensateur" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="NumeroDispensateur" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ValiderProfessionnelEntre" nillable="true" type="tns:ValiderProfessionnelEntre" />
  <xs:complexType name="ValiderProfessionnelSorti">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://COD1_V4OutilBase_cpo/2" base="q1:ParamSorti">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ValiderProfessionnelSorti" nillable="true" type="tns:ValiderProfessionnelSorti" />
  <xs:complexType name="ReductionRemunerationEntre">
    <xs:sequence>
      <xs:element minOccurs="0" name="NumeroSequentielMedecin" type="xs:long" />
      <xs:element minOccurs="0" name="RpprUniquement" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReductionRemunerationEntre" nillable="true" type="tns:ReductionRemunerationEntre" />
  <xs:complexType name="ReductionRemunerationSorti">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://COD1_V4OutilBase_cpo/2" base="q2:ParamSorti">
        <xs:sequence>
          <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/RAMQ.PRE.PLC2_CnsulProfiPremqProf_cpo.Entites" minOccurs="0" name="ReductionRemunerations" nillable="true" type="q3:ArrayOfReductionRemuneration" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ReductionRemunerationSorti" nillable="true" type="tns:ReductionRemunerationSorti" />
  <xs:complexType name="ObtenirPourcentageMaximumSorti">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q4="http://COD1_V4OutilBase_cpo/2" base="q4:ParamSorti">
        <xs:sequence>
          <xs:element minOccurs="0" name="PourcentageMaximum" type="xs:decimal" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ObtenirPourcentageMaximumSorti" nillable="true" type="tns:ObtenirPourcentageMaximumSorti" />
</xs:schema>