PREM/save/PREM/PL_Prem/PL_PremMdl_cpo/Service References/svcCnsulProfiPremqProf/ServCnsulProfiPremqProf3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/RAMQ.PRE.PRE_Entites_cpo.Derogation.Parametre" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/RAMQ.PRE.PRE_Entites_cpo.Derogation.Parametre" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://nlb-unit-app4.ramq.gov/PREAPP/PL/PLC_EffectuerSuiviPremq/PLC2_CnsulProfiPremqProf_svc/ServCnsulProfiPremqProf.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/RAMQ.PRE.PRE_Entites_cpo.Derogation.Entite" />
  <xs:import schemaLocation="http://nlb-unit-app4.ramq.gov/PREAPP/PL/PLC_EffectuerSuiviPremq/PLC2_CnsulProfiPremqProf_svc/ServCnsulProfiPremqProf.svc?xsd=xsd3" namespace="http://COD1_V4OutilBase_cpo/2" />
  <xs:complexType name="ObtenirDerogationsProfessionnelSanteEntre">
    <xs:sequence>
      <xs:element minOccurs="0" name="DateDebut" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateFin" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateRecherche" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IndicateurDerogationInactive" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroSequentielDispensateur" type="xs:long" />
      <xs:element minOccurs="0" name="Tri" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ObtenirDerogationsProfessionnelSanteEntre" nillable="true" type="tns:ObtenirDerogationsProfessionnelSanteEntre" />
  <xs:complexType name="ObtenirDerogationsProfessionnelSanteSorti">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://COD1_V4OutilBase_cpo/2" base="q1:ParamSorti">
        <xs:sequence>
          <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/RAMQ.PRE.PRE_Entites_cpo.Derogation.Entite" minOccurs="0" name="Derogations" nillable="true" type="q2:ArrayOfDerogation" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ObtenirDerogationsProfessionnelSanteSorti" nillable="true" type="tns:ObtenirDerogationsProfessionnelSanteSorti" />
  <xs:complexType name="ModifierDerogationEntre">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodeRaisonStatut" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DateDebut" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateFin" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateRenouvellement" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IdentifiantMAJ" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroSequentiel" type="xs:long" />
      <xs:element minOccurs="0" name="NumeroSequentielDispensateur" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="Statut" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ModifierDerogationEntre" nillable="true" type="tns:ModifierDerogationEntre" />
  <xs:complexType name="ModifierDerogationSorti">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q3="http://COD1_V4OutilBase_cpo/2" base="q3:ParamSorti">
        <xs:sequence>
          <xs:element minOccurs="0" name="NouveauNumeroSequentiel" type="xs:long" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ModifierDerogationSorti" nillable="true" type="tns:ModifierDerogationSorti" />
</xs:schema>