PREM/save/PREM/PL_Prem/PL_PremMdl_cpo/Service References/svcSaisDecisAvisConf/ServSaisDecisAvisConf612.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/RAMQ.PRE.PLA2_SaisDecisAvisConf_cpo.ConfirmationSuspension.Param" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/RAMQ.PRE.PLA2_SaisDecisAvisConf_cpo.ConfirmationSuspension.Param" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://nlb-unit-app4/PREAPP/PL/PLA_GererAvisConf/PLA2_SaisDecisAvisConf_svc/ServSaisDecisAvisConf.svc?xsd=xsd11" namespace="http://schemas.datacontract.org/2004/07/RAMQ.PRE.PLA2_SaisDecisAvisConf_cpo.ConfirmationSuspension" />
  <xs:import schemaLocation="http://nlb-unit-app4/PREAPP/PL/PLA_GererAvisConf/PLA2_SaisDecisAvisConf_svc/ServSaisDecisAvisConf.svc?xsd=xsd3" namespace="http://COD1_V4OutilBase_cpo/2" />
  <xs:complexType name="ObtnConfirmationSuspPDFEntre">
    <xs:sequence>
      <xs:element minOccurs="0" name="AvisConformite" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DateDebut" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DateDebutPerModif" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DateFin" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DateFinPerModif" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdentificationMedecin" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MessageConfirmation" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/RAMQ.PRE.PLA2_SaisDecisAvisConf_cpo.ConfirmationSuspension" minOccurs="0" name="TypeAction" type="q1:TypeActionSuspension" />
      <xs:element minOccurs="0" name="TypeSuspension" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ObtnConfirmationSuspPDFEntre" nillable="true" type="tns:ObtnConfirmationSuspPDFEntre" />
  <xs:complexType name="ObtnConfirmationSuspPDFSorti">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://COD1_V4OutilBase_cpo/2" base="q2:ParamSorti">
        <xs:sequence>
          <xs:element minOccurs="0" name="GabaritPDF" nillable="true" type="xs:base64Binary" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ObtnConfirmationSuspPDFSorti" nillable="true" type="tns:ObtnConfirmationSuspPDFSorti" />
</xs:schema>