PREM/save/PREM/PL_Prem/PL_PremMdl_cpo/Service References/svcSaisDecisAvisConf/ServSaisDecisAvisConf616.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/RAMQ.PRE.PRE_Entites_cpo.Derogation.Entite" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/RAMQ.PRE.PRE_Entites_cpo.Derogation.Entite" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfDerogation">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Derogation" nillable="true" type="tns:Derogation" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDerogation" nillable="true" type="tns:ArrayOfDerogation" />
  <xs:complexType name="Derogation">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodeRaisonStatut" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DateDebut" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateFin" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateHeureCreationOccurence" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateHeureInactivationOccurence" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateRenouvellement" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IdentifiantCreationOccurence" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdentifiantInactivationOccurence" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroSequentiel" type="xs:long" />
      <xs:element minOccurs="0" name="Statut" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Derogation" nillable="true" type="tns:Derogation" />
</xs:schema>