PREM/save/PREM/PL_Prem/PL_PremMdl_cpo/Service References/svcSaisDecisAvisConf/ServSaisDecisAvisConf614.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/RAMQ.PRE.PRE_Entites_cpo.DecisionAvisConformite.Parametre" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/RAMQ.PRE.PRE_Entites_cpo.DecisionAvisConformite.Parametre" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://nlb-unit-app4/PREAPP/PL/PLA_GererAvisConf/PLA2_SaisDecisAvisConf_svc/ServSaisDecisAvisConf.svc?xsd=xsd3" namespace="http://COD1_V4OutilBase_cpo/2" />
  <xs:import schemaLocation="http://nlb-unit-app4/PREAPP/PL/PLA_GererAvisConf/PLA2_SaisDecisAvisConf_svc/ServSaisDecisAvisConf.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/RAMQ.PRE.PRE_Entites_cpo.AvisConformite.Entite" />
  <xs:import schemaLocation="http://nlb-unit-app4/PREAPP/PL/PLA_GererAvisConf/PLA2_SaisDecisAvisConf_svc/ServSaisDecisAvisConf.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/RAMQ.PRE.PRE_Entites_cpo" />
  <xs:complexType name="TraiterDerogationAvisConformiteEntre">
    <xs:sequence>
      <xs:element minOccurs="0" name="Continuer" type="xs:boolean" />
      <xs:element minOccurs="0" name="DateDebut" type="xs:dateTime" />
      <xs:element minOccurs="0" name="NumeroPratique" type="xs:long" />
      <xs:element minOccurs="0" name="QuestionPose" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TypeDerogation" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TraiterDerogationAvisConformiteEntre" nillable="true" type="tns:TraiterDerogationAvisConformiteEntre" />
  <xs:complexType name="TraiterDerogationAvisConformiteSorti">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://COD1_V4OutilBase_cpo/2" base="q1:ParamSorti">
        <xs:sequence>
          <xs:element minOccurs="0" name="DateDebut" type="xs:dateTime" />
          <xs:element minOccurs="0" name="DateHeureCreationOccurence" type="xs:dateTime" />
          <xs:element minOccurs="0" name="DescriptionTypeDerogation" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="MessageFermetureEngagement" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="NomCompletNumeroPratique" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="QuestionPose" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TraiterDerogationAvisConformiteSorti" nillable="true" type="tns:TraiterDerogationAvisConformiteSorti" />
  <xs:complexType name="TraiterSuspensionAvisConformiteEntre">
    <xs:sequence>
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/RAMQ.PRE.PRE_Entites_cpo.AvisConformite.Entite" minOccurs="0" name="Avis" nillable="true" type="q2:AvisConformite" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/RAMQ.PRE.PRE_Entites_cpo.AvisConformite.Entite" minOccurs="0" name="NouvelleSuspension" nillable="true" type="q3:StatutAvisConformite" />
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/RAMQ.PRE.PRE_Entites_cpo" minOccurs="0" name="TypeAction" type="q4:Enumerations.TypeTraitementSuspension" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TraiterSuspensionAvisConformiteEntre" nillable="true" type="tns:TraiterSuspensionAvisConformiteEntre" />
  <xs:complexType name="TraiterSuspensionAvisConformiteSorti">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q5="http://COD1_V4OutilBase_cpo/2" base="q5:ParamSorti">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TraiterSuspensionAvisConformiteSorti" nillable="true" type="tns:TraiterSuspensionAvisConformiteSorti" />
  <xs:complexType name="TraiterAnnulationDerogationEntre">
    <xs:sequence>
      <xs:element minOccurs="0" name="DateDebutDerogation" type="xs:dateTime" />
      <xs:element minOccurs="0" name="NumeroSequentielDerogation" type="xs:long" />
      <xs:element minOccurs="0" name="NumeroSequentielDispensateur" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TraiterAnnulationDerogationEntre" nillable="true" type="tns:TraiterAnnulationDerogationEntre" />
  <xs:complexType name="TraiterAnnulationDerogationSorti">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q6="http://COD1_V4OutilBase_cpo/2" base="q6:ParamSorti">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TraiterAnnulationDerogationSorti" nillable="true" type="tns:TraiterAnnulationDerogationSorti" />
</xs:schema>