PREM/save/PREM/PL_Prem/PL_PremMdl_cpo/Service References/svcSaisDecisAvisConf/ServSaisDecisAvisConf620.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/RAMQ.PRE.PLA2_SaisDecisAvisConf_cpo.ConfirmationDerogation.Param" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/RAMQ.PRE.PLA2_SaisDecisAvisConf_cpo.ConfirmationDerogation.Param" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://nlb-unit-app4/PREAPP/PL/PLA_GererAvisConf/PLA2_SaisDecisAvisConf_svc/ServSaisDecisAvisConf.svc?xsd=xsd9" namespace="http://schemas.datacontract.org/2004/07/RAMQ.PRE.PLA2_SaisDecisAvisConf_cpo.ConfirmationDerogation" />
  <xs:import schemaLocation="http://nlb-unit-app4/PREAPP/PL/PLA_GererAvisConf/PLA2_SaisDecisAvisConf_svc/ServSaisDecisAvisConf.svc?xsd=xsd3" namespace="http://COD1_V4OutilBase_cpo/2" />
  <xs:complexType name="ObtnConfirmationDerogPDFEntre">
    <xs:sequence>
      <xs:element minOccurs="0" name="DateDebut" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdentificationMedecin" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MessageConfirmation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MessageInformatifComplementaire" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/RAMQ.PRE.PLA2_SaisDecisAvisConf_cpo.ConfirmationDerogation" minOccurs="0" name="TypeAction" type="q1:TypeActionDerogtion" />
      <xs:element minOccurs="0" name="TypeDerogation" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ObtnConfirmationDerogPDFEntre" nillable="true" type="tns:ObtnConfirmationDerogPDFEntre" />
  <xs:complexType name="ObtnConfirmationDerogPDFSorti">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://COD1_V4OutilBase_cpo/2" base="q2:ParamSorti">
        <xs:sequence>
          <xs:element minOccurs="0" name="GabaritPDF" nillable="true" type="xs:base64Binary" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ObtnConfirmationDerogPDFSorti" nillable="true" type="tns:ObtnConfirmationDerogPDFSorti" />
</xs:schema>