PREM/save/PREM/PL_Prem/PL_PremMdl_cpo/Service References/svcCnsulRapp/ServCnsulRappPremq.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/RAMQ.PRE.PRE_Entites_cpo.Rapport.Entite" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/RAMQ.PRE.PRE_Entites_cpo.Rapport.Entite" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfLigneRapportNonRespAvisConf">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LigneRapportNonRespAvisConf" nillable="true" type="tns:LigneRapportNonRespAvisConf" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLigneRapportNonRespAvisConf" nillable="true" type="tns:ArrayOfLigneRapportNonRespAvisConf" />
  <xs:complexType name="LigneRapportNonRespAvisConf">
    <xs:sequence>
      <xs:element minOccurs="0" name="DateFinAvis" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DatePriseEffetAvis" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Medecin" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroPratique" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PourcentageEffectue" type="xs:double" />
      <xs:element minOccurs="0" name="Region" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SousTerritoire" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LigneRapportNonRespAvisConf" nillable="true" type="tns:LigneRapportNonRespAvisConf" />
  <xs:complexType name="ArrayOfLigneRapportDerogPratiExclu">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LigneRapportDerogPratiExclu" nillable="true" type="tns:LigneRapportDerogPratiExclu" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLigneRapportDerogPratiExclu" nillable="true" type="tns:ArrayOfLigneRapportDerogPratiExclu" />
  <xs:complexType name="LigneRapportDerogPratiExclu">
    <xs:sequence>
      <xs:element minOccurs="0" name="DateFin" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DatePriseEffet" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Medecin" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NombreJoursFactures" type="xs:double" />
      <xs:element minOccurs="0" name="NombreJoursTotatuxFactures" type="xs:double" />
      <xs:element minOccurs="0" name="NumeroPratique" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PourcentageEffectue" type="xs:double" />
      <xs:element minOccurs="0" name="TypePratique" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LigneRapportDerogPratiExclu" nillable="true" type="tns:LigneRapportDerogPratiExclu" />
  <xs:complexType name="ArrayOfLigneRapportExerNonAutoRPPR">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LigneRapportExerNonAutoRPPR" nillable="true" type="tns:LigneRapportExerNonAutoRPPR" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLigneRapportExerNonAutoRPPR" nillable="true" type="tns:ArrayOfLigneRapportExerNonAutoRPPR" />
  <xs:complexType name="LigneRapportExerNonAutoRPPR">
    <xs:sequence>
      <xs:element minOccurs="0" name="DateDebutPeriodeApplication" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateFinPeriodeApplication" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Medecin" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NombreJoursFactureRPPR" type="xs:double" />
      <xs:element minOccurs="0" name="NombreJoursTotauxFactures" type="xs:double" />
      <xs:element minOccurs="0" name="NumeroPratique" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PourcentageEffectue" type="xs:double" />
      <xs:element minOccurs="0" name="Region" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LigneRapportExerNonAutoRPPR" nillable="true" type="tns:LigneRapportExerNonAutoRPPR" />
  <xs:complexType name="ArrayOfLigneRapportRepartInterRegionPrati">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LigneRapportRepartInterRegionPrati" nillable="true" type="tns:LigneRapportRepartInterRegionPrati" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLigneRapportRepartInterRegionPrati" nillable="true" type="tns:ArrayOfLigneRapportRepartInterRegionPrati" />
  <xs:complexType name="LigneRapportRepartInterRegionPrati">
    <xs:sequence>
      <xs:element minOccurs="0" name="Medecin" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NombreJoursFactures" type="xs:double" />
      <xs:element minOccurs="0" name="NumeroPratique" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PourcentageEffectue" type="xs:double" />
      <xs:element minOccurs="0" name="Region" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SousTerritoire" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LigneRapportRepartInterRegionPrati" nillable="true" type="tns:LigneRapportRepartInterRegionPrati" />
</xs:schema>