PREM/save/PREM/PL_Prem/PL_PremMdl_cpo/Service References/svcCnsulRapp/ServCnsulRappPremq.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://www.ramq.gouv.qc.ca/PRE/PLC_EffectuerSuiviPremq" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:i0="http://www.ramq.gouv.qc.ca/PRE/NomSignificatif" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServCnsulRappPremq" targetNamespace="http://www.ramq.gouv.qc.ca/PRE/PLC_EffectuerSuiviPremq" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="ServCnsulRappPremq_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <http:NegotiateAuthentication xmlns:http="http://schemas.microsoft.com/ws/06/2004/policy/http" />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:import namespace="http://www.ramq.gouv.qc.ca/PRE/NomSignificatif" location="http://nlb-unit-app4.ramq.gov/PREAPP/PL/PLC_EffectuerSuiviPremq/PLC1_CnsulRappPremq_svc/ServCnsulRappPremq.svc?wsdl=wsdl0" />
  <wsdl:types />
  <wsdl:binding name="ServCnsulRappPremq" type="i0:IServCnsulRappPremq">
    <wsp:PolicyReference URI="#ServCnsulRappPremq_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObtenirRapportNonRespAvisConfFichier">
      <soap:operation soapAction="http://www.ramq.gouv.qc.ca/PRE/NomSignificatif/IServCnsulRappPremq/ObtenirRapportNonRespAvisConfFichier" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ExceptionRamqIntrnFault">
        <soap:fault use="literal" name="ExceptionRamqIntrnFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ObtenirRapportNonRespAvisConfWeb">
      <soap:operation soapAction="http://www.ramq.gouv.qc.ca/PRE/NomSignificatif/IServCnsulRappPremq/ObtenirRapportNonRespAvisConfWeb" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ExceptionRamqIntrnFault">
        <soap:fault use="literal" name="ExceptionRamqIntrnFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ObtenirRapportDerogPratiExcluFichier">
      <soap:operation soapAction="http://www.ramq.gouv.qc.ca/PRE/NomSignificatif/IServCnsulRappPremq/ObtenirRapportDerogPratiExcluFichier" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ExceptionRamqIntrnFault">
        <soap:fault use="literal" name="ExceptionRamqIntrnFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ObtenirRapportDerogPratiExcluWeb">
      <soap:operation soapAction="http://www.ramq.gouv.qc.ca/PRE/NomSignificatif/IServCnsulRappPremq/ObtenirRapportDerogPratiExcluWeb" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ExceptionRamqIntrnFault">
        <soap:fault use="literal" name="ExceptionRamqIntrnFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ObtenirRapportExerNonAutoRPPRFichier">
      <soap:operation soapAction="http://www.ramq.gouv.qc.ca/PRE/NomSignificatif/IServCnsulRappPremq/ObtenirRapportExerNonAutoRPPRFichier" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ExceptionRamqIntrnFault">
        <soap:fault use="literal" name="ExceptionRamqIntrnFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ObtenirRapportExerNonAutoRPPRWeb">
      <soap:operation soapAction="http://www.ramq.gouv.qc.ca/PRE/NomSignificatif/IServCnsulRappPremq/ObtenirRapportExerNonAutoRPPRWeb" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ExceptionRamqIntrnFault">
        <soap:fault use="literal" name="ExceptionRamqIntrnFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ObtenirRapportRepartInterRegionPratiFichier">
      <soap:operation soapAction="http://www.ramq.gouv.qc.ca/PRE/NomSignificatif/IServCnsulRappPremq/ObtenirRapportRepartInterRegionPratiFichier" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ExceptionRamqIntrnFault">
        <soap:fault use="literal" name="ExceptionRamqIntrnFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ObtenirRapportRepartInterRegionPratiWeb">
      <soap:operation soapAction="http://www.ramq.gouv.qc.ca/PRE/NomSignificatif/IServCnsulRappPremq/ObtenirRapportRepartInterRegionPratiWeb" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ExceptionRamqIntrnFault">
        <soap:fault use="literal" name="ExceptionRamqIntrnFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServCnsulRappPremq">
    <wsdl:port name="ServCnsulRappPremq" binding="tns:ServCnsulRappPremq">
      <soap:address location="http://nlb-unit-app4.ramq.gov/PREAPP/PL/PLC_EffectuerSuiviPremq/PLC1_CnsulRappPremq_svc/ServCnsulRappPremq.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>