PREM/save/PREM/PL_Prem/PL_PremMdl_cpo/Service References/svcCnsulRapp/ServCnsulRappPremq1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/RAMQ.PRE.PRE_Entites_cpo.Rapport.Parametre" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/RAMQ.PRE.PRE_Entites_cpo.Rapport.Parametre" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://nlb-unit-app4.ramq.gov/PREAPP/PL/PLC_EffectuerSuiviPremq/PLC1_CnsulRappPremq_svc/ServCnsulRappPremq.svc?xsd=xsd4" namespace="http://COD1_V4OutilBase_cpo/2" />
  <xs:import schemaLocation="http://nlb-unit-app4.ramq.gov/PREAPP/PL/PLC_EffectuerSuiviPremq/PLC1_CnsulRappPremq_svc/ServCnsulRappPremq.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/RAMQ.PRE.PRE_Entites_cpo.Rapport.Entite" />
  <xs:complexType name="ParamObtnrRappNonRespAvisConf">
    <xs:sequence>
      <xs:element minOccurs="0" name="Annee" type="xs:int" />
      <xs:element minOccurs="0" name="Region" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SousTerritoire" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ParamObtnrRappNonRespAvisConf" nillable="true" type="tns:ParamObtnrRappNonRespAvisConf" />
  <xs:complexType name="ParamObtnRapportFichierSorti">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://COD1_V4OutilBase_cpo/2" base="q1:ParamSorti">
        <xs:sequence>
          <xs:element minOccurs="0" name="ContenuFichier" nillable="true" type="xs:base64Binary" />
          <xs:element minOccurs="0" name="DateDebutPeriode" type="xs:dateTime" />
          <xs:element minOccurs="0" name="DateFinPeriode" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="NomFichier" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TypeContenu" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ParamObtnRapportFichierSorti" nillable="true" type="tns:ParamObtnRapportFichierSorti" />
  <xs:complexType name="ParamObtnRapportWebSortiOfLigneRapportNonRespAvisConf9P3lnhZo">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ParamObtnRapportWebSortiOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/RAMQ.PRE.PRE_Entites_cpo.Rapport.Parametre" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="LigneRapportNonRespAvisConf" Namespace="http://schemas.datacontract.org/2004/07/RAMQ.PRE.PRE_Entites_cpo.Rapport.Entite" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://COD1_V4OutilBase_cpo/2" base="q2:ParamSorti">
        <xs:sequence>
          <xs:element minOccurs="0" name="DateDebutPeriode" type="xs:dateTime" />
          <xs:element minOccurs="0" name="DateFinPeriode" type="xs:dateTime" />
          <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/RAMQ.PRE.PRE_Entites_cpo.Rapport.Entite" minOccurs="0" name="LignesRapport" nillable="true" type="q3:ArrayOfLigneRapportNonRespAvisConf" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ParamObtnRapportWebSortiOfLigneRapportNonRespAvisConf9P3lnhZo" nillable="true" type="tns:ParamObtnRapportWebSortiOfLigneRapportNonRespAvisConf9P3lnhZo" />
  <xs:complexType name="ParamObtnrRappDerogPratiExclu">
    <xs:sequence>
      <xs:element minOccurs="0" name="Annee" type="xs:int" />
      <xs:element minOccurs="0" name="TypePratique" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ParamObtnrRappDerogPratiExclu" nillable="true" type="tns:ParamObtnrRappDerogPratiExclu" />
  <xs:complexType name="ParamObtnRapportWebSortiOfLigneRapportDerogPratiExclu9P3lnhZo">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ParamObtnRapportWebSortiOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/RAMQ.PRE.PRE_Entites_cpo.Rapport.Parametre" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="LigneRapportDerogPratiExclu" Namespace="http://schemas.datacontract.org/2004/07/RAMQ.PRE.PRE_Entites_cpo.Rapport.Entite" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q4="http://COD1_V4OutilBase_cpo/2" base="q4:ParamSorti">
        <xs:sequence>
          <xs:element minOccurs="0" name="DateDebutPeriode" type="xs:dateTime" />
          <xs:element minOccurs="0" name="DateFinPeriode" type="xs:dateTime" />
          <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/RAMQ.PRE.PRE_Entites_cpo.Rapport.Entite" minOccurs="0" name="LignesRapport" nillable="true" type="q5:ArrayOfLigneRapportDerogPratiExclu" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ParamObtnRapportWebSortiOfLigneRapportDerogPratiExclu9P3lnhZo" nillable="true" type="tns:ParamObtnRapportWebSortiOfLigneRapportDerogPratiExclu9P3lnhZo" />
  <xs:complexType name="ParamObtnrRappExerNonAutoRPPR">
    <xs:sequence>
      <xs:element minOccurs="0" name="Annee" type="xs:int" />
      <xs:element minOccurs="0" name="Region" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ParamObtnrRappExerNonAutoRPPR" nillable="true" type="tns:ParamObtnrRappExerNonAutoRPPR" />
  <xs:complexType name="ParamObtnRapportWebSortiOfLigneRapportExerNonAutoRPPR9P3lnhZo">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ParamObtnRapportWebSortiOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/RAMQ.PRE.PRE_Entites_cpo.Rapport.Parametre" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="LigneRapportExerNonAutoRPPR" Namespace="http://schemas.datacontract.org/2004/07/RAMQ.PRE.PRE_Entites_cpo.Rapport.Entite" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q6="http://COD1_V4OutilBase_cpo/2" base="q6:ParamSorti">
        <xs:sequence>
          <xs:element minOccurs="0" name="DateDebutPeriode" type="xs:dateTime" />
          <xs:element minOccurs="0" name="DateFinPeriode" type="xs:dateTime" />
          <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/RAMQ.PRE.PRE_Entites_cpo.Rapport.Entite" minOccurs="0" name="LignesRapport" nillable="true" type="q7:ArrayOfLigneRapportExerNonAutoRPPR" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ParamObtnRapportWebSortiOfLigneRapportExerNonAutoRPPR9P3lnhZo" nillable="true" type="tns:ParamObtnRapportWebSortiOfLigneRapportExerNonAutoRPPR9P3lnhZo" />
  <xs:complexType name="ParamObtnrRappRepartInterRegionPrati">
    <xs:sequence>
      <xs:element minOccurs="0" name="Annee" type="xs:int" />
      <xs:element minOccurs="0" name="Region" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SousTerritoire" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ParamObtnrRappRepartInterRegionPrati" nillable="true" type="tns:ParamObtnrRappRepartInterRegionPrati" />
  <xs:complexType name="ParamObtnRapportWebSortiOfLigneRapportRepartInterRegionPrati9P3lnhZo">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ParamObtnRapportWebSortiOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/RAMQ.PRE.PRE_Entites_cpo.Rapport.Parametre" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="LigneRapportRepartInterRegionPrati" Namespace="http://schemas.datacontract.org/2004/07/RAMQ.PRE.PRE_Entites_cpo.Rapport.Entite" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q8="http://COD1_V4OutilBase_cpo/2" base="q8:ParamSorti">
        <xs:sequence>
          <xs:element minOccurs="0" name="DateDebutPeriode" type="xs:dateTime" />
          <xs:element minOccurs="0" name="DateFinPeriode" type="xs:dateTime" />
          <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/RAMQ.PRE.PRE_Entites_cpo.Rapport.Entite" minOccurs="0" name="LignesRapport" nillable="true" type="q9:ArrayOfLigneRapportRepartInterRegionPrati" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ParamObtnRapportWebSortiOfLigneRapportRepartInterRegionPrati9P3lnhZo" nillable="true" type="tns:ParamObtnRapportWebSortiOfLigneRapportRepartInterRegionPrati9P3lnhZo" />
</xs:schema>