PREM/save/PREM/PL_Prem/PL_PremMdl_cpo/Service References/svcLieuxGeographiques/ServLieuxGeographiques.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://PLA1_SaisAvisConf_svc/1" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServLieuxGeographiques" targetNamespace="http://PLA1_SaisAvisConf_svc/1" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="EndPointService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <http:NegotiateAuthentication xmlns:http="http://schemas.microsoft.com/ws/06/2004/policy/http" />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://PLA1_SaisAvisConf_svc/1/Imports">
      <xsd:import schemaLocation="http://nlb-unit-app4/PREAPP/PL/PLA_GererAvisConf/PLA1_SaisAvisConf_svc/ServLieuxGeographiques.svc?xsd=xsd0" namespace="http://PLA1_SaisAvisConf_svc/1" />
      <xsd:import schemaLocation="http://nlb-unit-app4/PREAPP/PL/PLA_GererAvisConf/PLA1_SaisAvisConf_svc/ServLieuxGeographiques.svc?xsd=xsd3" namespace="http://COD1_V4OutilBase_cpo/2" />
      <xsd:import schemaLocation="http://nlb-unit-app4/PREAPP/PL/PLA_GererAvisConf/PLA1_SaisAvisConf_svc/ServLieuxGeographiques.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://nlb-unit-app4/PREAPP/PL/PLA_GererAvisConf/PLA1_SaisAvisConf_svc/ServLieuxGeographiques.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/RAMQ.PRE.PRE_Entites_cpo.LieuGeographique.Parametre" />
      <xsd:import schemaLocation="http://nlb-unit-app4/PREAPP/PL/PLA_GererAvisConf/PLA1_SaisAvisConf_svc/ServLieuxGeographiques.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/RAMQ.PRE.PRE_Entites_cpo.LieuGeographique.Entite" />
      <xsd:import schemaLocation="http://nlb-unit-app4/PREAPP/PL/PLA_GererAvisConf/PLA1_SaisAvisConf_svc/ServLieuxGeographiques.svc?xsd=xsd5" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServLieuxGeographiques_ObtenirRegroupementsLieuxGeographiquesRSS_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenirRegroupementsLieuxGeographiquesRSS" />
  </wsdl:message>
  <wsdl:message name="IServLieuxGeographiques_ObtenirRegroupementsLieuxGeographiquesRSS_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenirRegroupementsLieuxGeographiquesRSSResponse" />
  </wsdl:message>
  <wsdl:message name="IServLieuxGeographiques_ObtenirRegroupementsLieuxGeographiquesRSS_ExceptionRamqIntrnFault_FaultMessage">
    <wsdl:part xmlns:q1="http://COD1_V4OutilBase_cpo/2" name="detail" element="q1:ExceptionRamqIntrn" />
  </wsdl:message>
  <wsdl:message name="IServLieuxGeographiques_ObtenirLesNomsTerritoireCLSC_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenirLesNomsTerritoireCLSC" />
  </wsdl:message>
  <wsdl:message name="IServLieuxGeographiques_ObtenirLesNomsTerritoireCLSC_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenirLesNomsTerritoireCLSCResponse" />
  </wsdl:message>
  <wsdl:message name="IServLieuxGeographiques_ObtenirLesNomsTerritoireCLSC_ExceptionRamqIntrnFault_FaultMessage">
    <wsdl:part xmlns:q2="http://COD1_V4OutilBase_cpo/2" name="detail" element="q2:ExceptionRamqIntrn" />
  </wsdl:message>
  <wsdl:message name="IServLieuxGeographiques_ObtenirLesNomsTerritoireRLS_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenirLesNomsTerritoireRLS" />
  </wsdl:message>
  <wsdl:message name="IServLieuxGeographiques_ObtenirLesNomsTerritoireRLS_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenirLesNomsTerritoireRLSResponse" />
  </wsdl:message>
  <wsdl:message name="IServLieuxGeographiques_ObtenirLesNomsTerritoireRLS_ExceptionRamqIntrnFault_FaultMessage">
    <wsdl:part xmlns:q3="http://COD1_V4OutilBase_cpo/2" name="detail" element="q3:ExceptionRamqIntrn" />
  </wsdl:message>
  <wsdl:message name="IServLieuxGeographiques_ObtenirNomTerritoire_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenirNomTerritoire" />
  </wsdl:message>
  <wsdl:message name="IServLieuxGeographiques_ObtenirNomTerritoire_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenirNomTerritoireResponse" />
  </wsdl:message>
  <wsdl:message name="IServLieuxGeographiques_ObtenirNomTerritoire_ExceptionRamqIntrnFault_FaultMessage">
    <wsdl:part xmlns:q4="http://COD1_V4OutilBase_cpo/2" name="detail" element="q4:ExceptionRamqIntrn" />
  </wsdl:message>
  <wsdl:message name="IServLieuxGeographiques_ObtenirTerritoiresPermis_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenirTerritoiresPermis" />
  </wsdl:message>
  <wsdl:message name="IServLieuxGeographiques_ObtenirTerritoiresPermis_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenirTerritoiresPermisResponse" />
  </wsdl:message>
  <wsdl:message name="IServLieuxGeographiques_ObtenirTerritoiresPermis_ExceptionRamqIntrnFault_FaultMessage">
    <wsdl:part xmlns:q5="http://COD1_V4OutilBase_cpo/2" name="detail" element="q5:ExceptionRamqIntrn" />
  </wsdl:message>
  <wsdl:portType msc:usingSession="false" name="IServLieuxGeographiques">
    <wsdl:operation name="ObtenirRegroupementsLieuxGeographiquesRSS">
      <wsdl:input wsaw:Action="http://PLA1_SaisAvisConf_svc/1/IServLieuxGeographiques/ObtenirRegroupementsLieuxGeographiquesRSS" message="tns:IServLieuxGeographiques_ObtenirRegroupementsLieuxGeographiquesRSS_InputMessage" />
      <wsdl:output wsaw:Action="http://PLA1_SaisAvisConf_svc/1/IServLieuxGeographiques/ObtenirRegroupementsLieuxGeographiquesRSSResponse" message="tns:IServLieuxGeographiques_ObtenirRegroupementsLieuxGeographiquesRSS_OutputMessage" />
      <wsdl:fault wsaw:Action="http://PLA1_SaisAvisConf_svc/1/IServLieuxGeographiques/ObtenirRegroupementsLieuxGeographiquesRSSExceptionRamqIntrnFault" name="ExceptionRamqIntrnFault" message="tns:IServLieuxGeographiques_ObtenirRegroupementsLieuxGeographiquesRSS_ExceptionRamqIntrnFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenirLesNomsTerritoireCLSC">
      <wsdl:input wsaw:Action="http://PLA1_SaisAvisConf_svc/1/IServLieuxGeographiques/ObtenirLesNomsTerritoireCLSC" message="tns:IServLieuxGeographiques_ObtenirLesNomsTerritoireCLSC_InputMessage" />
      <wsdl:output wsaw:Action="http://PLA1_SaisAvisConf_svc/1/IServLieuxGeographiques/ObtenirLesNomsTerritoireCLSCResponse" message="tns:IServLieuxGeographiques_ObtenirLesNomsTerritoireCLSC_OutputMessage" />
      <wsdl:fault wsaw:Action="http://PLA1_SaisAvisConf_svc/1/IServLieuxGeographiques/ObtenirLesNomsTerritoireCLSCExceptionRamqIntrnFault" name="ExceptionRamqIntrnFault" message="tns:IServLieuxGeographiques_ObtenirLesNomsTerritoireCLSC_ExceptionRamqIntrnFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenirLesNomsTerritoireRLS">
      <wsdl:input wsaw:Action="http://PLA1_SaisAvisConf_svc/1/IServLieuxGeographiques/ObtenirLesNomsTerritoireRLS" message="tns:IServLieuxGeographiques_ObtenirLesNomsTerritoireRLS_InputMessage" />
      <wsdl:output wsaw:Action="http://PLA1_SaisAvisConf_svc/1/IServLieuxGeographiques/ObtenirLesNomsTerritoireRLSResponse" message="tns:IServLieuxGeographiques_ObtenirLesNomsTerritoireRLS_OutputMessage" />
      <wsdl:fault wsaw:Action="http://PLA1_SaisAvisConf_svc/1/IServLieuxGeographiques/ObtenirLesNomsTerritoireRLSExceptionRamqIntrnFault" name="ExceptionRamqIntrnFault" message="tns:IServLieuxGeographiques_ObtenirLesNomsTerritoireRLS_ExceptionRamqIntrnFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenirNomTerritoire">
      <wsdl:input wsaw:Action="http://PLA1_SaisAvisConf_svc/1/IServLieuxGeographiques/ObtenirNomTerritoire" message="tns:IServLieuxGeographiques_ObtenirNomTerritoire_InputMessage" />
      <wsdl:output wsaw:Action="http://PLA1_SaisAvisConf_svc/1/IServLieuxGeographiques/ObtenirNomTerritoireResponse" message="tns:IServLieuxGeographiques_ObtenirNomTerritoire_OutputMessage" />
      <wsdl:fault wsaw:Action="http://PLA1_SaisAvisConf_svc/1/IServLieuxGeographiques/ObtenirNomTerritoireExceptionRamqIntrnFault" name="ExceptionRamqIntrnFault" message="tns:IServLieuxGeographiques_ObtenirNomTerritoire_ExceptionRamqIntrnFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenirTerritoiresPermis">
      <wsdl:input wsaw:Action="http://PLA1_SaisAvisConf_svc/1/IServLieuxGeographiques/ObtenirTerritoiresPermis" message="tns:IServLieuxGeographiques_ObtenirTerritoiresPermis_InputMessage" />
      <wsdl:output wsaw:Action="http://PLA1_SaisAvisConf_svc/1/IServLieuxGeographiques/ObtenirTerritoiresPermisResponse" message="tns:IServLieuxGeographiques_ObtenirTerritoiresPermis_OutputMessage" />
      <wsdl:fault wsaw:Action="http://PLA1_SaisAvisConf_svc/1/IServLieuxGeographiques/ObtenirTerritoiresPermisExceptionRamqIntrnFault" name="ExceptionRamqIntrnFault" message="tns:IServLieuxGeographiques_ObtenirTerritoiresPermis_ExceptionRamqIntrnFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="EndPointService" type="tns:IServLieuxGeographiques">
    <wsp:PolicyReference URI="#EndPointService_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObtenirRegroupementsLieuxGeographiquesRSS">
      <soap:operation soapAction="http://PLA1_SaisAvisConf_svc/1/IServLieuxGeographiques/ObtenirRegroupementsLieuxGeographiquesRSS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ExceptionRamqIntrnFault">
        <soap:fault use="literal" name="ExceptionRamqIntrnFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ObtenirLesNomsTerritoireCLSC">
      <soap:operation soapAction="http://PLA1_SaisAvisConf_svc/1/IServLieuxGeographiques/ObtenirLesNomsTerritoireCLSC" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ExceptionRamqIntrnFault">
        <soap:fault use="literal" name="ExceptionRamqIntrnFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ObtenirLesNomsTerritoireRLS">
      <soap:operation soapAction="http://PLA1_SaisAvisConf_svc/1/IServLieuxGeographiques/ObtenirLesNomsTerritoireRLS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ExceptionRamqIntrnFault">
        <soap:fault use="literal" name="ExceptionRamqIntrnFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ObtenirNomTerritoire">
      <soap:operation soapAction="http://PLA1_SaisAvisConf_svc/1/IServLieuxGeographiques/ObtenirNomTerritoire" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ExceptionRamqIntrnFault">
        <soap:fault use="literal" name="ExceptionRamqIntrnFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ObtenirTerritoiresPermis">
      <soap:operation soapAction="http://PLA1_SaisAvisConf_svc/1/IServLieuxGeographiques/ObtenirTerritoiresPermis" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ExceptionRamqIntrnFault">
        <soap:fault use="literal" name="ExceptionRamqIntrnFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServLieuxGeographiques">
    <wsdl:port name="EndPointService" binding="tns:EndPointService">
      <soap:address location="http://nlb-unit-app4/PREAPP/PL/PLA_GererAvisConf/PLA1_SaisAvisConf_svc/ServLieuxGeographiques.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>