PREM/save/PREM/PL_Prem/PL_PremMdl_cpo/Service References/svcLieuxGeographiques/ServLieuxGeographiques5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/RAMQ.PRE.PRE_Entites_cpo.LieuGeographique.Parametre" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/RAMQ.PRE.PRE_Entites_cpo.LieuGeographique.Parametre" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://nlb-unit-app4/PREAPP/PL/PLA_GererAvisConf/PLA1_SaisAvisConf_svc/ServLieuxGeographiques.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/RAMQ.PRE.PRE_Entites_cpo.LieuGeographique.Entite" />
  <xs:import schemaLocation="http://nlb-unit-app4/PREAPP/PL/PLA_GererAvisConf/PLA1_SaisAvisConf_svc/ServLieuxGeographiques.svc?xsd=xsd3" namespace="http://COD1_V4OutilBase_cpo/2" />
  <xs:import schemaLocation="http://nlb-unit-app4/PREAPP/PL/PLA_GererAvisConf/PLA1_SaisAvisConf_svc/ServLieuxGeographiques.svc?xsd=xsd5" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="ObtenirRegroupementsLgeoRssEntre">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodeRssRegionSocioSanitaire" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DateDebutRecherche" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateFinRecherche" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateRecherche" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IndObtenirUniquementRegroupement" type="xs:boolean" />
      <xs:element minOccurs="0" name="IndObtentionLgeo" type="xs:boolean" />
      <xs:element minOccurs="0" name="NumeroDocumentOfficiel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroSequenceRegrAdminLieuGeo" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="TypeRegroupement" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ObtenirRegroupementsLgeoRssEntre" nillable="true" type="tns:ObtenirRegroupementsLgeoRssEntre" />
  <xs:complexType name="ObtenirRegroupementsLgeoRssSorti">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://COD1_V4OutilBase_cpo/2" base="q1:ParamSorti">
        <xs:sequence>
          <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/RAMQ.PRE.PRE_Entites_cpo.LieuGeographique.Entite" minOccurs="0" name="LieuxGeographiques" nillable="true" type="q2:ArrayOfLieuGeographique" />
          <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/RAMQ.PRE.PRE_Entites_cpo.LieuGeographique.Entite" minOccurs="0" name="Regroupements" nillable="true" type="q3:ArrayOfRegroupement" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ObtenirRegroupementsLgeoRssSorti" nillable="true" type="tns:ObtenirRegroupementsLgeoRssSorti" />
  <xs:complexType name="ObtenirInformationTerritoireCLSCEntre">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodeRegionSocioSanitaire" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodeTerritoireCLSC" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ObtenirInformationTerritoireCLSCEntre" nillable="true" type="tns:ObtenirInformationTerritoireCLSCEntre" />
  <xs:complexType name="ObtenirInformationTerritoireCLSCSortie">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q4="http://COD1_V4OutilBase_cpo/2" base="q4:ParamSorti">
        <xs:sequence>
          <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="NomTerritoires" nillable="true" type="q5:ArrayOfstring" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ObtenirInformationTerritoireCLSCSortie" nillable="true" type="tns:ObtenirInformationTerritoireCLSCSortie" />
  <xs:complexType name="ObtenirInformationTerritoireRLSEntre">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodeRegionSocioSanitaire" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodeTerritoireRLS" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ObtenirInformationTerritoireRLSEntre" nillable="true" type="tns:ObtenirInformationTerritoireRLSEntre" />
  <xs:complexType name="ObtenirInformationTerritoireRLSSorti">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q6="http://COD1_V4OutilBase_cpo/2" base="q6:ParamSorti">
        <xs:sequence>
          <xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="NomTerritoires" nillable="true" type="q7:ArrayOfstring" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ObtenirInformationTerritoireRLSSorti" nillable="true" type="tns:ObtenirInformationTerritoireRLSSorti" />
  <xs:complexType name="ObtenirNomTerritoireEntre">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodeRSS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DateDebutPratique" type="xs:dateTime" />
      <xs:element minOccurs="0" name="NumeroSequentiel" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ObtenirNomTerritoireEntre" nillable="true" type="tns:ObtenirNomTerritoireEntre" />
  <xs:complexType name="ObtenirNomTerritoireSorti">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q8="http://COD1_V4OutilBase_cpo/2" base="q8:ParamSorti">
        <xs:sequence>
          <xs:element minOccurs="0" name="NomTerritoire" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ObtenirNomTerritoireSorti" nillable="true" type="tns:ObtenirNomTerritoireSorti" />
  <xs:complexType name="ObtenirTerritoiresPermisEntre">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodeRSS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DateDebutPratique" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ObtenirTerritoiresPermisEntre" nillable="true" type="tns:ObtenirTerritoiresPermisEntre" />
  <xs:complexType name="ObtenirTerritoiresPermisSorti">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q9="http://COD1_V4OutilBase_cpo/2" base="q9:ParamSorti">
        <xs:sequence>
          <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/RAMQ.PRE.PRE_Entites_cpo.LieuGeographique.Entite" minOccurs="0" name="TerritoiresPermis" nillable="true" type="q10:ArrayOfTerritoirePermis" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ObtenirTerritoiresPermisSorti" nillable="true" type="tns:ObtenirTerritoiresPermisSorti" />
</xs:schema>