PREM/save/PREM/PL_Prem/PL_PremMdl_cpo/Service References/svcLieuxGeographiques/ServLieuxGeographiques3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://PLA1_SaisAvisConf_svc/1" elementFormDefault="qualified" targetNamespace="http://PLA1_SaisAvisConf_svc/1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://nlb-unit-app4/PREAPP/PL/PLA_GererAvisConf/PLA1_SaisAvisConf_svc/ServLieuxGeographiques.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/RAMQ.PRE.PRE_Entites_cpo.LieuGeographique.Parametre" />
  <xs:element name="ObtenirRegroupementsLieuxGeographiquesRSS">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/RAMQ.PRE.PRE_Entites_cpo.LieuGeographique.Parametre" minOccurs="0" name="intrant" nillable="true" type="q1:ObtenirRegroupementsLgeoRssEntre" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenirRegroupementsLieuxGeographiquesRSSResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/RAMQ.PRE.PRE_Entites_cpo.LieuGeographique.Parametre" minOccurs="0" name="ObtenirRegroupementsLieuxGeographiquesRSSResult" nillable="true" type="q2:ObtenirRegroupementsLgeoRssSorti" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenirLesNomsTerritoireCLSC">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/RAMQ.PRE.PRE_Entites_cpo.LieuGeographique.Parametre" minOccurs="0" name="intrant" nillable="true" type="q3:ObtenirInformationTerritoireCLSCEntre" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenirLesNomsTerritoireCLSCResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/RAMQ.PRE.PRE_Entites_cpo.LieuGeographique.Parametre" minOccurs="0" name="ObtenirLesNomsTerritoireCLSCResult" nillable="true" type="q4:ObtenirInformationTerritoireCLSCSortie" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenirLesNomsTerritoireRLS">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/RAMQ.PRE.PRE_Entites_cpo.LieuGeographique.Parametre" minOccurs="0" name="intrant" nillable="true" type="q5:ObtenirInformationTerritoireRLSEntre" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenirLesNomsTerritoireRLSResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/RAMQ.PRE.PRE_Entites_cpo.LieuGeographique.Parametre" minOccurs="0" name="ObtenirLesNomsTerritoireRLSResult" nillable="true" type="q6:ObtenirInformationTerritoireRLSSorti" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenirNomTerritoire">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/RAMQ.PRE.PRE_Entites_cpo.LieuGeographique.Parametre" minOccurs="0" name="intrant" nillable="true" type="q7:ObtenirNomTerritoireEntre" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenirNomTerritoireResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/RAMQ.PRE.PRE_Entites_cpo.LieuGeographique.Parametre" minOccurs="0" name="ObtenirNomTerritoireResult" nillable="true" type="q8:ObtenirNomTerritoireSorti" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenirTerritoiresPermis">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/RAMQ.PRE.PRE_Entites_cpo.LieuGeographique.Parametre" minOccurs="0" name="intrant" nillable="true" type="q9:ObtenirTerritoiresPermisEntre" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenirTerritoiresPermisResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/RAMQ.PRE.PRE_Entites_cpo.LieuGeographique.Parametre" minOccurs="0" name="ObtenirTerritoiresPermisResult" nillable="true" type="q10:ObtenirTerritoiresPermisSorti" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>