PREM/TestClient_PLF1/TestClient_PLF1/Service References/ServiceReference1/ServTraitEveneAutreSys1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://www.ramq.gouv.qc.ca/PRE/NomSignificatif" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.ramq.gouv.qc.ca/PRE/NomSignificatif" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="ServTraitEveneAutreSys_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <http:NegotiateAuthentication xmlns:http="http://schemas.microsoft.com/ws/06/2004/policy/http" />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.ramq.gouv.qc.ca/PRE/NomSignificatif/Imports">
      <xsd:import schemaLocation="http://nlb-unit-app4.ramq.gov/PREAPP/PL/PLF_TraitPremAutreAppli/PLF1_TraiterEveneAutreSys_svc/ServTraitEveneAutreSys.svc?xsd=xsd2" namespace="http://www.ramq.gouv.qc.ca/PRE/NomSignificatif" />
      <xsd:import schemaLocation="http://nlb-unit-app4.ramq.gov/PREAPP/PL/PLF_TraitPremAutreAppli/PLF1_TraiterEveneAutreSys_svc/ServTraitEveneAutreSys.svc?xsd=xsd1" namespace="http://COD1_V4OutilBase_cpo/2" />
      <xsd:import schemaLocation="http://nlb-unit-app4.ramq.gov/PREAPP/PL/PLF_TraitPremAutreAppli/PLF1_TraiterEveneAutreSys_svc/ServTraitEveneAutreSys.svc?xsd=xsd0" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://nlb-unit-app4.ramq.gov/PREAPP/PL/PLF_TraitPremAutreAppli/PLF1_TraiterEveneAutreSys_svc/ServTraitEveneAutreSys.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/" />
      <xsd:import schemaLocation="http://nlb-unit-app4.ramq.gov/PREAPP/PL/PLF_TraitPremAutreAppli/PLF1_TraiterEveneAutreSys_svc/ServTraitEveneAutreSys.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/RAMQ.PRE.PLF1_TraiterEveneAutreSys_cpo.AjusterEngagement.Param" />
      <xsd:import schemaLocation="http://nlb-unit-app4.ramq.gov/PREAPP/PL/PLF_TraitPremAutreAppli/PLF1_TraiterEveneAutreSys_svc/ServTraitEveneAutreSys.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/RAMQ.PRE.PLF1_TraiterEveneAutreSys_cpo.AjusterEngagement.Entite" />
      <xsd:import schemaLocation="http://nlb-unit-app4.ramq.gov/PREAPP/PL/PLF_TraitPremAutreAppli/PLF1_TraiterEveneAutreSys_svc/ServTraitEveneAutreSys.svc?xsd=xsd6" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServTraitEveneAutreSys_AjusterAvisConformiteMedResidents_InputMessage">
    <wsdl:part name="parameters" element="tns:AjusterAvisConformiteMedResidents" />
  </wsdl:message>
  <wsdl:message name="IServTraitEveneAutreSys_AjusterAvisConformiteMedResidents_OutputMessage">
    <wsdl:part name="parameters" element="tns:AjusterAvisConformiteMedResidentsResponse" />
  </wsdl:message>
  <wsdl:message name="IServTraitEveneAutreSys_AjusterAvisConformiteMedResidents_ExceptionRamqIntrnFault_FaultMessage">
    <wsdl:part xmlns:q1="http://COD1_V4OutilBase_cpo/2" name="detail" element="q1:ExceptionRamqIntrn" />
  </wsdl:message>
  <wsdl:message name="IServTraitEveneAutreSys_TraiterAdmissibiliteDuProfessionnel_InputMessage">
    <wsdl:part name="parameters" element="tns:TraiterAdmissibiliteDuProfessionnel" />
  </wsdl:message>
  <wsdl:message name="IServTraitEveneAutreSys_TraiterAdmissibiliteDuProfessionnel_OutputMessage">
    <wsdl:part name="parameters" element="tns:TraiterAdmissibiliteDuProfessionnelResponse" />
  </wsdl:message>
  <wsdl:message name="IServTraitEveneAutreSys_TraiterAdmissibiliteDuProfessionnel_ExceptionRamqIntrnFault_FaultMessage">
    <wsdl:part xmlns:q2="http://COD1_V4OutilBase_cpo/2" name="detail" element="q2:ExceptionRamqIntrn" />
  </wsdl:message>
  <wsdl:message name="IServTraitEveneAutreSys_AjusterEngagAjouNonPartn_InputMessage">
    <wsdl:part name="parameters" element="tns:AjusterEngagAjouNonPartn" />
  </wsdl:message>
  <wsdl:message name="IServTraitEveneAutreSys_AjusterEngagAjouNonPartn_OutputMessage">
    <wsdl:part name="parameters" element="tns:AjusterEngagAjouNonPartnResponse" />
  </wsdl:message>
  <wsdl:message name="IServTraitEveneAutreSys_AjusterEngagAjouNonPartn_ExceptionRamqIntrnFault_FaultMessage">
    <wsdl:part xmlns:q3="http://COD1_V4OutilBase_cpo/2" name="detail" element="q3:ExceptionRamqIntrn" />
  </wsdl:message>
  <wsdl:message name="IServTraitEveneAutreSys_AjusterEngagModifNonPartn_InputMessage">
    <wsdl:part name="parameters" element="tns:AjusterEngagModifNonPartn" />
  </wsdl:message>
  <wsdl:message name="IServTraitEveneAutreSys_AjusterEngagModifNonPartn_OutputMessage">
    <wsdl:part name="parameters" element="tns:AjusterEngagModifNonPartnResponse" />
  </wsdl:message>
  <wsdl:message name="IServTraitEveneAutreSys_AjusterEngagModifNonPartn_ExceptionRamqIntrnFault_FaultMessage">
    <wsdl:part xmlns:q4="http://COD1_V4OutilBase_cpo/2" name="detail" element="q4:ExceptionRamqIntrn" />
  </wsdl:message>
  <wsdl:message name="IServTraitEveneAutreSys_AjusterEngagAnnuNonPartn_InputMessage">
    <wsdl:part name="parameters" element="tns:AjusterEngagAnnuNonPartn" />
  </wsdl:message>
  <wsdl:message name="IServTraitEveneAutreSys_AjusterEngagAnnuNonPartn_OutputMessage">
    <wsdl:part name="parameters" element="tns:AjusterEngagAnnuNonPartnResponse" />
  </wsdl:message>
  <wsdl:message name="IServTraitEveneAutreSys_AjusterEngagAnnuNonPartn_ExceptionRamqIntrnFault_FaultMessage">
    <wsdl:part xmlns:q5="http://COD1_V4OutilBase_cpo/2" name="detail" element="q5:ExceptionRamqIntrn" />
  </wsdl:message>
  <wsdl:message name="IServTraitEveneAutreSys_AjusterEngagDeces_InputMessage">
    <wsdl:part name="parameters" element="tns:AjusterEngagDeces" />
  </wsdl:message>
  <wsdl:message name="IServTraitEveneAutreSys_AjusterEngagDeces_OutputMessage">
    <wsdl:part name="parameters" element="tns:AjusterEngagDecesResponse" />
  </wsdl:message>
  <wsdl:message name="IServTraitEveneAutreSys_AjusterEngagDeces_ExceptionRamqIntrnFault_FaultMessage">
    <wsdl:part xmlns:q6="http://COD1_V4OutilBase_cpo/2" name="detail" element="q6:ExceptionRamqIntrn" />
  </wsdl:message>
  <wsdl:message name="IServTraitEveneAutreSys_AjusterEngagDdSpecInscr_InputMessage">
    <wsdl:part name="parameters" element="tns:AjusterEngagDdSpecInscr" />
  </wsdl:message>
  <wsdl:message name="IServTraitEveneAutreSys_AjusterEngagDdSpecInscr_OutputMessage">
    <wsdl:part name="parameters" element="tns:AjusterEngagDdSpecInscrResponse" />
  </wsdl:message>
  <wsdl:message name="IServTraitEveneAutreSys_AjusterEngagDdSpecInscr_ExceptionRamqIntrnFault_FaultMessage">
    <wsdl:part xmlns:q7="http://COD1_V4OutilBase_cpo/2" name="detail" element="q7:ExceptionRamqIntrn" />
  </wsdl:message>
  <wsdl:portType msc:usingSession="false" name="IServTraitEveneAutreSys">
    <wsdl:operation name="AjusterAvisConformiteMedResidents">
      <wsdl:input wsaw:Action="http://www.ramq.gouv.qc.ca/PRE/NomSignificatif/IServTraitEveneAutreSys/AjusterAvisConformiteMedResidents" message="tns:IServTraitEveneAutreSys_AjusterAvisConformiteMedResidents_InputMessage" />
      <wsdl:output wsaw:Action="http://www.ramq.gouv.qc.ca/PRE/NomSignificatif/IServTraitEveneAutreSys/AjusterAvisConformiteMedResidentsResponse" message="tns:IServTraitEveneAutreSys_AjusterAvisConformiteMedResidents_OutputMessage" />
      <wsdl:fault wsaw:Action="http://www.ramq.gouv.qc.ca/PRE/NomSignificatif/IServTraitEveneAutreSys/AjusterAvisConformiteMedResidentsExceptionRamqIntrnFault" name="ExceptionRamqIntrnFault" message="tns:IServTraitEveneAutreSys_AjusterAvisConformiteMedResidents_ExceptionRamqIntrnFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="TraiterAdmissibiliteDuProfessionnel">
      <wsdl:input wsaw:Action="http://www.ramq.gouv.qc.ca/PRE/NomSignificatif/IServTraitEveneAutreSys/TraiterAdmissibiliteDuProfessionnel" message="tns:IServTraitEveneAutreSys_TraiterAdmissibiliteDuProfessionnel_InputMessage" />
      <wsdl:output wsaw:Action="http://www.ramq.gouv.qc.ca/PRE/NomSignificatif/IServTraitEveneAutreSys/TraiterAdmissibiliteDuProfessionnelResponse" message="tns:IServTraitEveneAutreSys_TraiterAdmissibiliteDuProfessionnel_OutputMessage" />
      <wsdl:fault wsaw:Action="http://www.ramq.gouv.qc.ca/PRE/NomSignificatif/IServTraitEveneAutreSys/TraiterAdmissibiliteDuProfessionnelExceptionRamqIntrnFault" name="ExceptionRamqIntrnFault" message="tns:IServTraitEveneAutreSys_TraiterAdmissibiliteDuProfessionnel_ExceptionRamqIntrnFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="AjusterEngagAjouNonPartn">
      <wsdl:input wsaw:Action="http://www.ramq.gouv.qc.ca/PRE/NomSignificatif/IServTraitEveneAutreSys/AjusterEngagAjouNonPartn" message="tns:IServTraitEveneAutreSys_AjusterEngagAjouNonPartn_InputMessage" />
      <wsdl:output wsaw:Action="http://www.ramq.gouv.qc.ca/PRE/NomSignificatif/IServTraitEveneAutreSys/AjusterEngagAjouNonPartnResponse" message="tns:IServTraitEveneAutreSys_AjusterEngagAjouNonPartn_OutputMessage" />
      <wsdl:fault wsaw:Action="http://www.ramq.gouv.qc.ca/PRE/NomSignificatif/IServTraitEveneAutreSys/AjusterEngagAjouNonPartnExceptionRamqIntrnFault" name="ExceptionRamqIntrnFault" message="tns:IServTraitEveneAutreSys_AjusterEngagAjouNonPartn_ExceptionRamqIntrnFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="AjusterEngagModifNonPartn">
      <wsdl:input wsaw:Action="http://www.ramq.gouv.qc.ca/PRE/NomSignificatif/IServTraitEveneAutreSys/AjusterEngagModifNonPartn" message="tns:IServTraitEveneAutreSys_AjusterEngagModifNonPartn_InputMessage" />
      <wsdl:output wsaw:Action="http://www.ramq.gouv.qc.ca/PRE/NomSignificatif/IServTraitEveneAutreSys/AjusterEngagModifNonPartnResponse" message="tns:IServTraitEveneAutreSys_AjusterEngagModifNonPartn_OutputMessage" />
      <wsdl:fault wsaw:Action="http://www.ramq.gouv.qc.ca/PRE/NomSignificatif/IServTraitEveneAutreSys/AjusterEngagModifNonPartnExceptionRamqIntrnFault" name="ExceptionRamqIntrnFault" message="tns:IServTraitEveneAutreSys_AjusterEngagModifNonPartn_ExceptionRamqIntrnFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="AjusterEngagAnnuNonPartn">
      <wsdl:input wsaw:Action="http://www.ramq.gouv.qc.ca/PRE/NomSignificatif/IServTraitEveneAutreSys/AjusterEngagAnnuNonPartn" message="tns:IServTraitEveneAutreSys_AjusterEngagAnnuNonPartn_InputMessage" />
      <wsdl:output wsaw:Action="http://www.ramq.gouv.qc.ca/PRE/NomSignificatif/IServTraitEveneAutreSys/AjusterEngagAnnuNonPartnResponse" message="tns:IServTraitEveneAutreSys_AjusterEngagAnnuNonPartn_OutputMessage" />
      <wsdl:fault wsaw:Action="http://www.ramq.gouv.qc.ca/PRE/NomSignificatif/IServTraitEveneAutreSys/AjusterEngagAnnuNonPartnExceptionRamqIntrnFault" name="ExceptionRamqIntrnFault" message="tns:IServTraitEveneAutreSys_AjusterEngagAnnuNonPartn_ExceptionRamqIntrnFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="AjusterEngagDeces">
      <wsdl:input wsaw:Action="http://www.ramq.gouv.qc.ca/PRE/NomSignificatif/IServTraitEveneAutreSys/AjusterEngagDeces" message="tns:IServTraitEveneAutreSys_AjusterEngagDeces_InputMessage" />
      <wsdl:output wsaw:Action="http://www.ramq.gouv.qc.ca/PRE/NomSignificatif/IServTraitEveneAutreSys/AjusterEngagDecesResponse" message="tns:IServTraitEveneAutreSys_AjusterEngagDeces_OutputMessage" />
      <wsdl:fault wsaw:Action="http://www.ramq.gouv.qc.ca/PRE/NomSignificatif/IServTraitEveneAutreSys/AjusterEngagDecesExceptionRamqIntrnFault" name="ExceptionRamqIntrnFault" message="tns:IServTraitEveneAutreSys_AjusterEngagDeces_ExceptionRamqIntrnFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="AjusterEngagDdSpecInscr">
      <wsdl:input wsaw:Action="http://www.ramq.gouv.qc.ca/PRE/NomSignificatif/IServTraitEveneAutreSys/AjusterEngagDdSpecInscr" message="tns:IServTraitEveneAutreSys_AjusterEngagDdSpecInscr_InputMessage" />
      <wsdl:output wsaw:Action="http://www.ramq.gouv.qc.ca/PRE/NomSignificatif/IServTraitEveneAutreSys/AjusterEngagDdSpecInscrResponse" message="tns:IServTraitEveneAutreSys_AjusterEngagDdSpecInscr_OutputMessage" />
      <wsdl:fault wsaw:Action="http://www.ramq.gouv.qc.ca/PRE/NomSignificatif/IServTraitEveneAutreSys/AjusterEngagDdSpecInscrExceptionRamqIntrnFault" name="ExceptionRamqIntrnFault" message="tns:IServTraitEveneAutreSys_AjusterEngagDdSpecInscr_ExceptionRamqIntrnFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServTraitEveneAutreSys" type="tns:IServTraitEveneAutreSys">
    <wsp:PolicyReference URI="#ServTraitEveneAutreSys_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AjusterAvisConformiteMedResidents">
      <soap:operation soapAction="http://www.ramq.gouv.qc.ca/PRE/NomSignificatif/IServTraitEveneAutreSys/AjusterAvisConformiteMedResidents" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ExceptionRamqIntrnFault">
        <soap:fault use="literal" name="ExceptionRamqIntrnFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="TraiterAdmissibiliteDuProfessionnel">
      <soap:operation soapAction="http://www.ramq.gouv.qc.ca/PRE/NomSignificatif/IServTraitEveneAutreSys/TraiterAdmissibiliteDuProfessionnel" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ExceptionRamqIntrnFault">
        <soap:fault use="literal" name="ExceptionRamqIntrnFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="AjusterEngagAjouNonPartn">
      <soap:operation soapAction="http://www.ramq.gouv.qc.ca/PRE/NomSignificatif/IServTraitEveneAutreSys/AjusterEngagAjouNonPartn" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ExceptionRamqIntrnFault">
        <soap:fault use="literal" name="ExceptionRamqIntrnFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="AjusterEngagModifNonPartn">
      <soap:operation soapAction="http://www.ramq.gouv.qc.ca/PRE/NomSignificatif/IServTraitEveneAutreSys/AjusterEngagModifNonPartn" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ExceptionRamqIntrnFault">
        <soap:fault use="literal" name="ExceptionRamqIntrnFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="AjusterEngagAnnuNonPartn">
      <soap:operation soapAction="http://www.ramq.gouv.qc.ca/PRE/NomSignificatif/IServTraitEveneAutreSys/AjusterEngagAnnuNonPartn" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ExceptionRamqIntrnFault">
        <soap:fault use="literal" name="ExceptionRamqIntrnFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="AjusterEngagDeces">
      <soap:operation soapAction="http://www.ramq.gouv.qc.ca/PRE/NomSignificatif/IServTraitEveneAutreSys/AjusterEngagDeces" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ExceptionRamqIntrnFault">
        <soap:fault use="literal" name="ExceptionRamqIntrnFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="AjusterEngagDdSpecInscr">
      <soap:operation soapAction="http://www.ramq.gouv.qc.ca/PRE/NomSignificatif/IServTraitEveneAutreSys/AjusterEngagDdSpecInscr" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ExceptionRamqIntrnFault">
        <soap:fault use="literal" name="ExceptionRamqIntrnFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
</wsdl:definitions>