PREM/save/PREM/PL_Prem/PL_PremMdl_cpo/Service References/svcSaisAutorActivMdcal/ServSaisAutorActivMdcal4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/RAMQ.PRE.PLA5_SaisAutorActivMdcal_cpo.Param" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/RAMQ.PRE.PLA5_SaisAutorActivMdcal_cpo.Param" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://nlb-unit-app4.ramq.gov/PREAPP/PL/PLA_GererAutor/PLA5_SaisAutorActivMdcal_svc/ServSaisAutorActivMdcal.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/RAMQ.PRE.PLA5_SaisAutorActivMdcal_cpo.Entites" />
  <xs:import schemaLocation="http://nlb-unit-app4.ramq.gov/PREAPP/PL/PLA_GererAutor/PLA5_SaisAutorActivMdcal_svc/ServSaisAutorActivMdcal.svc?xsd=xsd3" namespace="http://COD1_V4OutilBase_cpo/2" />
  <xs:complexType name="ObtenirLesAutorisationsProfessionnelEntre">
    <xs:sequence>
      <xs:element minOccurs="0" name="NumeroSequentielDispensateur" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ObtenirLesAutorisationsProfessionnelEntre" nillable="true" type="tns:ObtenirLesAutorisationsProfessionnelEntre" />
  <xs:complexType name="ObtenirLesAutorisationsProfessionnelSorti">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://COD1_V4OutilBase_cpo/2" base="q1:ParamSorti">
        <xs:sequence>
          <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/RAMQ.PRE.PLA5_SaisAutorActivMdcal_cpo.Entites" minOccurs="0" name="Autorisations" nillable="true" type="q2:ArrayOfAutorisation" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ObtenirLesAutorisationsProfessionnelSorti" nillable="true" type="tns:ObtenirLesAutorisationsProfessionnelSorti" />
  <xs:complexType name="CreerAutorisationPREMQEntre">
    <xs:sequence>
      <xs:element minOccurs="0" name="DateDebutAutorisation" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateFinAutorisation" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IdentifiantUtilisateur" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroSequentielDispensateur" type="xs:long" />
      <xs:element minOccurs="0" name="TypeAutorisationPREMQ" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CreerAutorisationPREMQEntre" nillable="true" type="tns:CreerAutorisationPREMQEntre" />
  <xs:complexType name="CreerAutorisationPREMQSorti">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q3="http://COD1_V4OutilBase_cpo/2" base="q3:ParamSorti">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CreerAutorisationPREMQSorti" nillable="true" type="tns:CreerAutorisationPREMQSorti" />
  <xs:complexType name="AnnulerAutorisationPREMQEntre">
    <xs:sequence>
      <xs:element minOccurs="0" name="IdentifiantUtilisateur" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroSequentielAutorisation" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AnnulerAutorisationPREMQEntre" nillable="true" type="tns:AnnulerAutorisationPREMQEntre" />
  <xs:complexType name="AnnulerAutorisationPREMQSorti">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q4="http://COD1_V4OutilBase_cpo/2" base="q4:ParamSorti">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AnnulerAutorisationPREMQSorti" nillable="true" type="tns:AnnulerAutorisationPREMQSorti" />
  <xs:complexType name="ProlongerAutorisationPREMQEntre">
    <xs:sequence>
      <xs:element minOccurs="0" name="DateFinAutorisation" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IdentifiantUtilisateur" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroSequentielAutorisation" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProlongerAutorisationPREMQEntre" nillable="true" type="tns:ProlongerAutorisationPREMQEntre" />
  <xs:complexType name="ProlongerAutorisationPREMQSorti">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q5="http://COD1_V4OutilBase_cpo/2" base="q5:ParamSorti">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ProlongerAutorisationPREMQSorti" nillable="true" type="tns:ProlongerAutorisationPREMQSorti" />
</xs:schema>