PREM/save/PREM/TestClient_PLF1/TestClient_PLF1/Service References/ServiceReference1/ServTraitEveneAutreSys5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://COD1_V4OutilBase_cpo/2" elementFormDefault="qualified" targetNamespace="http://COD1_V4OutilBase_cpo/2" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://nlb-unit-app4.ramq.gov/PREAPP/PL/PLF_TraitPremAutreAppli/PLF1_TraiterEveneAutreSys_svc/ServTraitEveneAutreSys.svc?xsd=xsd6" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="MsgTrait">
    <xs:sequence>
      <xs:element name="CodAppli" nillable="true" type="xs:string" />
      <xs:element name="IdMsg" nillable="true" type="xs:string" />
      <xs:element name="CodSever" nillable="true" type="xs:string" />
      <xs:element name="TxtMsgFran" nillable="true" type="xs:string" />
      <xs:element name="TxtMsgAngl" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MsgTrait" nillable="true" type="tns:MsgTrait" />
  <xs:complexType name="ParamSorti">
    <xs:sequence>
      <xs:element name="InfoMsgTrait" nillable="true" type="tns:ArrayOfMsgTrait" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ParamSorti" nillable="true" type="tns:ParamSorti" />
  <xs:complexType name="ArrayOfMsgTrait">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MsgTrait" nillable="true" type="tns:MsgTrait" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMsgTrait" nillable="true" type="tns:ArrayOfMsgTrait" />
  <xs:complexType name="ExceptionRamqIntrn">
    <xs:sequence>
      <xs:element name="Message" nillable="true" type="xs:string" />
      <xs:element name="PileAppel" nillable="true" type="xs:string" />
      <xs:element name="InnerException" nillable="true" type="tns:ArrayOfInnerExceptionRamq" />
      <xs:element name="Type" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ExceptionRamqIntrn" nillable="true" type="tns:ExceptionRamqIntrn" />
  <xs:complexType name="ArrayOfInnerExceptionRamq">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="InnerExceptionRamq" nillable="true" type="tns:InnerExceptionRamq" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfInnerExceptionRamq" nillable="true" type="tns:ArrayOfInnerExceptionRamq" />
  <xs:complexType name="InnerExceptionRamq">
    <xs:sequence>
      <xs:element name="InnerMessage" nillable="true" type="xs:string" />
      <xs:element name="InnerPileAppel" nillable="true" type="xs:string" />
      <xs:element name="InnerType" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InnerExceptionRamq" nillable="true" type="tns:InnerExceptionRamq" />
  <xs:complexType name="ParametreSorti">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" name="InfoMsgTrait" nillable="true" type="q1:ArrayOfanyType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ParametreSorti" nillable="true" type="tns:ParametreSorti" />
</xs:schema>