PREM/save/PREM/PRE_SysExt/PRE_SysExt_cpo/Service References/svcObtnInfoPilotLieuGeo/ServObtnInfoPilotLieuGeo3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/RAMQ.GEO.SOD1_ObtnInfoPilotLieuGeo_cpo.Param" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/RAMQ.GEO.SOD1_ObtnInfoPilotLieuGeo_cpo.Param" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://nlb-unit-app4/GEOAPP/SO/SOD_ObtnInfoPilotLieuGeo/SOD1_ObtnInfoPilotLieuGeo_svc/ServObtnInfoPilotLieuGeo.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/RAMQ.GEO.SOD1_ObtnInfoPilotLieuGeo_cpo.Entite" />
  <xs:import schemaLocation="http://nlb-unit-app4/GEOAPP/SO/SOD_ObtnInfoPilotLieuGeo/SOD1_ObtnInfoPilotLieuGeo_svc/ServObtnInfoPilotLieuGeo.svc?xsd=xsd3" namespace="http://COD1_V4OutilBase_cpo/1" />
  <xs:complexType name="ObtnListeRegrRattaLgeoEntre">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:IntrantBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="CodeLieuGeographique" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IndicateurObtentionRegrParent" type="xs:boolean" />
          <xs:element minOccurs="0" name="TypeLieuGeographique" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ObtnListeRegrRattaLgeoEntre" nillable="true" type="tns:ObtnListeRegrRattaLgeoEntre" />
  <xs:complexType name="IntrantBase">
    <xs:sequence>
      <xs:element minOccurs="0" name="DateDebutRecherche" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateFinRecherche" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateRecherche" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="NumeroDocumentOfficiel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TypeRegroupement" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="IntrantBase" nillable="true" type="tns:IntrantBase" />
  <xs:complexType name="ObtnListeRegrRattaLgeoSorti">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://COD1_V4OutilBase_cpo/1" base="q1:ParamSorti">
        <xs:sequence>
          <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/RAMQ.GEO.SOD1_ObtnInfoPilotLieuGeo_cpo.Entite" minOccurs="0" name="Regroupements" nillable="true" type="q2:ArrayOfRegroupement" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ObtnListeRegrRattaLgeoSorti" nillable="true" type="tns:ObtnListeRegrRattaLgeoSorti" />
  <xs:complexType name="ObtnListeRegrLgeoRattaRssEntre">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:IntrantBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="CodeRssRegionSocioSanitaire" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IndObtentionLgeo" type="xs:boolean" />
          <xs:element minOccurs="0" name="IndObtnUniqmRegrVise" type="xs:boolean" />
          <xs:element minOccurs="0" name="NumeroSequenceRegrAdminLieuGeo" nillable="true" type="xs:long" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ObtnListeRegrLgeoRattaRssEntre" nillable="true" type="tns:ObtnListeRegrLgeoRattaRssEntre" />
  <xs:complexType name="ObtnListeRegrLgeoRattaRssSorti">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q3="http://COD1_V4OutilBase_cpo/1" base="q3:ParamSorti">
        <xs:sequence>
          <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/RAMQ.GEO.SOD1_ObtnInfoPilotLieuGeo_cpo.Entite" minOccurs="0" name="LieuxGeographiques" nillable="true" type="q4:ArrayOfLieuGeographique" />
          <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/RAMQ.GEO.SOD1_ObtnInfoPilotLieuGeo_cpo.Entite" minOccurs="0" name="Regroupements" nillable="true" type="q5:ArrayOfRegroupement" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ObtnListeRegrLgeoRattaRssSorti" nillable="true" type="tns:ObtnListeRegrLgeoRattaRssSorti" />
</xs:schema>