PREM/save/PREM/PRE_SysExt/PRE_SysExt_cpo/Service References/svcObtnInfoPilotLieuGeo/ServObtnInfoPilotLieuGeo1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://SOD1_ObtnInfoPilotLieuGeo_svc/1" elementFormDefault="qualified" targetNamespace="http://SOD1_ObtnInfoPilotLieuGeo_svc/1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://nlb-unit-app4/GEOAPP/SO/SOD_ObtnInfoPilotLieuGeo/SOD1_ObtnInfoPilotLieuGeo_svc/ServObtnInfoPilotLieuGeo.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/RAMQ.GEO.SOD1_ObtnInfoPilotLieuGeo_cpo.Param" />
  <xs:element name="ObtenirListeRegrRattaLgeo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/RAMQ.GEO.SOD1_ObtnInfoPilotLieuGeo_cpo.Param" minOccurs="0" name="_objIntrant" nillable="true" type="q1:ObtnListeRegrRattaLgeoEntre" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenirListeRegrRattaLgeoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/RAMQ.GEO.SOD1_ObtnInfoPilotLieuGeo_cpo.Param" minOccurs="0" name="ObtenirListeRegrRattaLgeoResult" nillable="true" type="q2:ObtnListeRegrRattaLgeoSorti" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenirListeRegrLgeoRattaRss">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/RAMQ.GEO.SOD1_ObtnInfoPilotLieuGeo_cpo.Param" minOccurs="0" name="_objIntrant" nillable="true" type="q3:ObtnListeRegrLgeoRattaRssEntre" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenirListeRegrLgeoRattaRssResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/RAMQ.GEO.SOD1_ObtnInfoPilotLieuGeo_cpo.Param" minOccurs="0" name="ObtenirListeRegrLgeoRattaRssResult" nillable="true" type="q4:ObtnListeRegrLgeoRattaRssSorti" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>