PREM/save/PREM/PRE_SysExt/PRE_SysExt_cpo/Service References/svcObtnInfoPilotLieuGeo/ServObtnInfoPilotLieuGeo.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://SOD1_ObtnInfoPilotLieuGeo_svc/1" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServObtnInfoPilotLieuGeo" targetNamespace="http://SOD1_ObtnInfoPilotLieuGeo_svc/1" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="EndPointService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <http:NegotiateAuthentication xmlns:http="http://schemas.microsoft.com/ws/06/2004/policy/http" />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://SOD1_ObtnInfoPilotLieuGeo_svc/1/Imports">
      <xsd:import schemaLocation="http://nlb-unit-app4/GEOAPP/SO/SOD_ObtnInfoPilotLieuGeo/SOD1_ObtnInfoPilotLieuGeo_svc/ServObtnInfoPilotLieuGeo.svc?xsd=xsd0" namespace="http://SOD1_ObtnInfoPilotLieuGeo_svc/1" />
      <xsd:import schemaLocation="http://nlb-unit-app4/GEOAPP/SO/SOD_ObtnInfoPilotLieuGeo/SOD1_ObtnInfoPilotLieuGeo_svc/ServObtnInfoPilotLieuGeo.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://nlb-unit-app4/GEOAPP/SO/SOD_ObtnInfoPilotLieuGeo/SOD1_ObtnInfoPilotLieuGeo_svc/ServObtnInfoPilotLieuGeo.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/RAMQ.GEO.SOD1_ObtnInfoPilotLieuGeo_cpo.Param" />
      <xsd:import schemaLocation="http://nlb-unit-app4/GEOAPP/SO/SOD_ObtnInfoPilotLieuGeo/SOD1_ObtnInfoPilotLieuGeo_svc/ServObtnInfoPilotLieuGeo.svc?xsd=xsd3" namespace="http://COD1_V4OutilBase_cpo/1" />
      <xsd:import schemaLocation="http://nlb-unit-app4/GEOAPP/SO/SOD_ObtnInfoPilotLieuGeo/SOD1_ObtnInfoPilotLieuGeo_svc/ServObtnInfoPilotLieuGeo.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/RAMQ.GEO.SOD1_ObtnInfoPilotLieuGeo_cpo.Entite" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServObtnInfoPilotLieuGeo_ObtenirListeRegrRattaLgeo_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenirListeRegrRattaLgeo" />
  </wsdl:message>
  <wsdl:message name="IServObtnInfoPilotLieuGeo_ObtenirListeRegrRattaLgeo_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenirListeRegrRattaLgeoResponse" />
  </wsdl:message>
  <wsdl:message name="IServObtnInfoPilotLieuGeo_ObtenirListeRegrLgeoRattaRss_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenirListeRegrLgeoRattaRss" />
  </wsdl:message>
  <wsdl:message name="IServObtnInfoPilotLieuGeo_ObtenirListeRegrLgeoRattaRss_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenirListeRegrLgeoRattaRssResponse" />
  </wsdl:message>
  <wsdl:portType msc:usingSession="false" name="IServObtnInfoPilotLieuGeo">
    <wsdl:operation name="ObtenirListeRegrRattaLgeo">
      <wsdl:input wsaw:Action="http://SOD1_ObtnInfoPilotLieuGeo_svc/1/IServObtnInfoPilotLieuGeo/ObtenirListeRegrRattaLgeo" message="tns:IServObtnInfoPilotLieuGeo_ObtenirListeRegrRattaLgeo_InputMessage" />
      <wsdl:output wsaw:Action="http://SOD1_ObtnInfoPilotLieuGeo_svc/1/IServObtnInfoPilotLieuGeo/ObtenirListeRegrRattaLgeoResponse" message="tns:IServObtnInfoPilotLieuGeo_ObtenirListeRegrRattaLgeo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenirListeRegrLgeoRattaRss">
      <wsdl:input wsaw:Action="http://SOD1_ObtnInfoPilotLieuGeo_svc/1/IServObtnInfoPilotLieuGeo/ObtenirListeRegrLgeoRattaRss" message="tns:IServObtnInfoPilotLieuGeo_ObtenirListeRegrLgeoRattaRss_InputMessage" />
      <wsdl:output wsaw:Action="http://SOD1_ObtnInfoPilotLieuGeo_svc/1/IServObtnInfoPilotLieuGeo/ObtenirListeRegrLgeoRattaRssResponse" message="tns:IServObtnInfoPilotLieuGeo_ObtenirListeRegrLgeoRattaRss_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="EndPointService" type="tns:IServObtnInfoPilotLieuGeo">
    <wsp:PolicyReference URI="#EndPointService_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObtenirListeRegrRattaLgeo">
      <soap:operation soapAction="http://SOD1_ObtnInfoPilotLieuGeo_svc/1/IServObtnInfoPilotLieuGeo/ObtenirListeRegrRattaLgeo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenirListeRegrLgeoRattaRss">
      <soap:operation soapAction="http://SOD1_ObtnInfoPilotLieuGeo_svc/1/IServObtnInfoPilotLieuGeo/ObtenirListeRegrLgeoRattaRss" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServObtnInfoPilotLieuGeo">
    <wsdl:port name="EndPointService" binding="tns:EndPointService">
      <soap:address location="http://nlb-unit-app4/GEOAPP/SO/SOD_ObtnInfoPilotLieuGeo/SOD1_ObtnInfoPilotLieuGeo_svc/ServObtnInfoPilotLieuGeo.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>