PREM/TestClient_PLF1/ConsApp_TestClientPLF1/Service References/ScePLF1/ServTraitEveneAutreSys6.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://nlb-unit-app4.ramq.gov/PREAPP/PL/PLF_TraitPremAutreAppli/PLF1_TraiterEveneAutreSys_svc/ServTraitEveneAutreSys.svc?xsd=xsd3" namespace="http://COD1_V4OutilBase_cpo/2" />
  <xs:complexType name="ParamEntreAjusterAvisConformiteMedResidents">
    <xs:sequence>
      <xs:element minOccurs="0" name="DisNoSeq" type="xs:long" />
      <xs:element minOccurs="0" name="IndNoSeq" type="xs:int" />
      <xs:element minOccurs="0" name="PvcClaDisp" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ParamEntreAjusterAvisConformiteMedResidents" nillable="true" type="tns:ParamEntreAjusterAvisConformiteMedResidents" />
  <xs:complexType name="ParamSortiAjusterAvisConformiteMedResidents">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://COD1_V4OutilBase_cpo/2" base="q1:ParamSorti">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ParamSortiAjusterAvisConformiteMedResidents" nillable="true" type="tns:ParamSortiAjusterAvisConformiteMedResidents" />
  <xs:complexType name="ParamEntreTraiterAdmissProf">
    <xs:sequence>
      <xs:element minOccurs="0" name="DHEvenement" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DisNoSeq" type="xs:long" />
      <xs:element minOccurs="0" name="MessageEvenement" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ParamEntreTraiterAdmissProf" nillable="true" type="tns:ParamEntreTraiterAdmissProf" />
  <xs:complexType name="ParamSortiTraiterAdmissProf">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://COD1_V4OutilBase_cpo/2" base="q2:ParamSorti">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ParamSortiTraiterAdmissProf" nillable="true" type="tns:ParamSortiTraiterAdmissProf" />
</xs:schema>