PREM/save/PREM/PL_Prem/PL_PremMdl_cpo/Service References/svcRechrProf/ServRechrProf8.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/RAMQ.PRE.PRE_Entites_cpo.Professionnel.Entite" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/RAMQ.PRE.PRE_Entites_cpo.Professionnel.Entite" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://nlb-unit-app4/PREAPP/PL/PLA_GererAvisConf/PLA1_ETR_RechrProf_svc/ServRechrProf.svc?xsd=xsd3" namespace="http://COD1_V4OutilBase_cpo/2" />
  <xs:complexType name="Professionnels">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://COD1_V4OutilBase_cpo/2" base="q1:ParamSorti">
        <xs:sequence>
          <xs:element minOccurs="0" name="LesProfessionnels" nillable="true" type="tns:ArrayOfProfessionnel" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Professionnels" nillable="true" type="tns:Professionnels" />
  <xs:complexType name="ArrayOfProfessionnel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Professionnel" nillable="true" type="tns:Professionnel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProfessionnel" nillable="true" type="tns:ArrayOfProfessionnel" />
  <xs:complexType name="Professionnel">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://COD1_V4OutilBase_cpo/2" base="q2:ParamSorti">
        <xs:sequence>
          <xs:element minOccurs="0" name="Nom" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="NomAfficher" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="NumeroClasse" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="NumeroDispensateur" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="NumeroPratique" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="NumeroSequentielDispensateur" nillable="true" type="xs:long" />
          <xs:element minOccurs="0" name="NumeroSequentielIndividu" nillable="true" type="xs:long" />
          <xs:element minOccurs="0" name="Prenom" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Professionnel" nillable="true" type="tns:Professionnel" />
</xs:schema>